[2019-03-21 23:02] areiman opened #1 "Using the Sample App as a Template for a Python 3 App"
From Casey:

The problem is encountered when running on Python 3. The utils module in gridappsd imports the dateutil module, which appears to not have a direct analogue in Python 3. A workaround for this is to comment out any code in the sample app that imports or uses the gridappsd utils module, and use a placeholder for the utils calls. The sample app does not use the date processing from the da

[2019-03-28 20:25] poorva1209 commented on #1
I tested this out and it works with python 3 with the following steps:
1. clone gridappsd-python repo and cd into it
2. Run pip3 install .

Now try to run your app and it should work.

[2019-06-28 06:04] shpoudel opened #2 "Having problem running the sample app in IEEE 8500 new model"
I am having issues running the sample_app for IEEE 8500 new model. I think my issue lies after calling function "gapps.subscribe(listening_to_topic, toggler)". I couldn't quite follow how the instance of GridAPPSD (gapps) is used for subscribing and how it reaches on_message function.

[2019-06-28 14:53] poorva1209 commented on #2
The new 8500 model not yet ready for full simulation run. It will be available with release next week. Can you try your code with old 8500 model and see if you recieve simulation output.

[2019-06-30 23:46] shpoudel commented on #2
Yes, with old 8500 model, I can receive simulation output.

[2019-07-03 05:13] shpoudel opened #3 "Beta release issue"
The beta version works with new IEEE 8500 model and running the default sample-app. However, when I tried to incorporate my change in runsample.py, I get an error which I have attached here as an image.

I also changed docker-compose.yml file accordingly (Line 5): image: sample-app

![image](https://user-images.githubusercontent.com/35777492/60564918-5c9ac900-9d16-11e9-8902-711a930032c0.png)

[2019-07-03 05:49] shpoudel commented on #3
This error was gone when I restart the system. Now, just one quick question, why am I not getting any power flow plot in the simulation. Also, if plot appears, which line flow it corresponds to? Because, the system has three substation now instead of single one as in IEEE 123 or original IEEE 8500 node model.

[2019-07-03 17:32] poorva1209 commented on #3
@shpoudel Power plots will be there in the final release this week. @bibiraju : Can you confirm this?

@bibiraju Can we show exactly what we are plotting in UI ?

[2019-07-03 17:40] shpoudel commented on #3
@poorva1209 Thanks for the reply. Can we have several plots for power flow while displaying? For example, my application will require the display of at least three plots (Power A, Power B, and Power C) for three substations which sum up to 9. Or, Maybe the ABC phase plot can go in the same figure and three such figures for each substation?

[2019-07-03 17:42] poorva1209 commented on #3
@shpoudel Yeah, we are working towards that. It is just that other changes in Viz are taking priority over this. But we will have the option of custom plots included soon.

[2019-07-03 17:50] bibiraju commented on #3
@shpoudel You see the voltage plots for below components
      'l2673313',
      'l2876814',
      'l2955047',
      'l3160107',
      'l3254238',
      'm1047574'

The power plots will be available in the next release. As Poorva mentioned, the custom plotting will be added to the visualization soon as well.

[2019-07-03 17:59] shpoudel commented on #3
Thank you @poorva1209 @bibiraju for the prompt reply. One more question; @poorva1209 Could you please point which code in the respository of gridappsd-python shall I look into for getting the real-time status of any components while the simulation is running? For example, can I create a specific event by opening one switch and read it via the platform? I believe the event option in simulation is f

[2019-07-03 19:36] ArunWSU opened #4 "Query regarding Missing Simulation ID"
Hi,
 I'm Arun, an app developer from Washington State University. I'm having problems querying into the simulation data. Although I tried to execute the query shown in attachment, after the simulation was completed, I get SimulationID not found error. Also, If I go into the "Logs" of "Browse data", sometimes I don't see the simulation ID of the recent execution even after I tried to type in. And,

[2019-07-03 19:57] poorva1209 commented on #4
-  I'm having problems querying into the simulation data. Although I tried to execute the query shown in attachment, after the simulation was completed, I get SimulationID not found error.
 `We are transitioning from beta relase to final so the query filters are not updated in documentation but are updated in backend. Please try simulation_id instead of hasSimulationId in your query.`
- If I go in

[2019-07-03 20:08] poorva1209 commented on #3
- which code in the respository of gridappsd-python shall I look into for getting the real-time status of any components while the simulation is running?
`You can look into sample app to subscribe to simulation output and check the value for the mrid of the measurement you are interested in.` https://github.com/GRIDAPPSD/gridappsd-sample-app/blob/master/sample_app/runsample.py. `If you are not sur

[2019-07-04 03:07] ArunWSU opened #5 "Unable to run 13 bus and 123 bus pv simulations"
Hi,
 Just a few moments ago, I am unable to run the 13bus and 123buspv simulations. I get a FNCS initialization failed error. The one with broker and values in images corresponds to 13 bus and second one with just THREAD-69 ERROR corresponds to 123pv system.
[Jul3_13bus_simulationerror.png](https://images.zenhubusercontent.com/5d1bf0f68871121fe293f312/aac323aa-7b63-4f5b-b029-7c6edc43b005)
![Jul3_1

[2019-07-05 20:15] poorva1209 commented on #5
@ArunWSU  I ran v2019.06.beta with both models and they are running for me. Send me steps you followed and I will do it again.
Which branch of gridappsd-docker?
Did you run ./stop.sh -c
Then ./run.sh -t v2019.06.beta ?
Any things else selected along with model, like app? weather? houses?

[2019-07-05 21:41] ArunWSU commented on #5
I am sorry. I found the issue. I was still working on the last commit of the develop branch and trying to run simulations. If I use the Beta version, it fixed the issue. Thanks

[2019-07-05 21:41] #5 closed

[2019-07-25 20:11] blthayer opened #6 "Add gridappsd-forum as one of the pinned repositories for the GridAPPS-D project"
See title :)

[2019-07-25 20:20] blthayer opened #7 "Timeseries database output data model has too much nesting"
When querying the timeseries database via the GridAPPS-D API, the returned json object has a lot of unnecessary nesting which makes parsing it a chore. Unfortunately Zenhub/Github won't let me attach a json file (seriously?!), but I've put a small sample below.

The following sample is the result for getting **a single measurement** from the database:
[code]
Here's an example of the code I had to

[2019-07-25 22:21] blthayer opened #8 "Errors in Timeserisa API documentation"
[Link to documentation](https://gridappsd.readthedocs.io/en/latest/using_gridappsd/index.html#timeseries-api)

1. The documentation specifies the data type of data/query filters (e.g. string or number), but as far as I can tell, all data comes back as a string. JSON supports numbers, so it's a little silly that they're being cast to a string just so that the user can cast them back to numbers in t

[2019-07-26 16:50] ArunWSU opened #9 "Unsuccessful queries in GridAPPS-D platform"
HI,
 The Object dictionary query in powergrid API doesn't work even though I tried multiple Object types and Object id's(10 and the sensor simulator service (2) in timeseries API, when I tried to execute through STOMP client utility in v2019.07.0. For 2, the response I get is data:null, even though I get data through simulation query in same API. Can you tell me the difference between GridAPPS-D s

[2019-07-26 17:29] #6 closed

[2019-07-26 17:58] poorva1209 commented on #9
1. To query model data change the topic in Stomp client to goss.gridappsd.process.request.data.powergridmodel
2. To query timeseries data (simulation/service/weather) changethe topic in Stomp client to goss.gridappsd.process.request.data.timeseries

Not sure what you mean here. Simulation output is coming from GridLAB-D and sensor service output is coming from this service : https://github.com/GRI

[2019-07-26 19:06] ArunWSU commented on #9
Hi,
Even in the first comment, I used the topics that you suggested as in documentation. But, 1 seems to be fixed now if I refresh and try again. 2 still doesn't work
Topic: goss.gridappsd.process.request.data.timeseries
Request:
{"queryMeasurement": "gridappsd-sensor-simulator","queryFilter": {"simulation_id": "33041270"},"responseFormat": "JSON"}
Response
{
    "data": null,
    "responseComplet

[2019-07-30 16:14] poorva1209 commented on #9
gridappsd-sensor-simulator doesn't run by default. Did you add it as a pre-requisite in sample_app config file?

[2019-07-30 18:32] blthayer opened #10 "Proven "number" filters could be more useful"
[Documentation link](https://gridappsd.readthedocs.io/en/latest/using_gridappsd/index.html#timeseries-api)

For both the weather and simulation data time series queries, there are some of filters that are documented like `<measurement Field>[number]`. These `[number]` query filters appear to be for exact matches only, which is rarely useful (especially when simulation output is reported to an exce

[2019-07-30 18:34] blthayer opened #11 "Make timestamps consistent across the platform"
@poorva1209 - assigning to you for redirection as needed.

So far, I've come across three different timestamp conventions in the platform:

1. Header for simulation output (and probably other headers that go out on the GOSS bus): **milliseconds** since the epoch.
2. Simulation output message: **seconds** since the epoch.
3. Time filters for Proven queries: **microseconds** since the epoch. HOWEVER

[2019-07-30 18:36] blthayer opened #12 "Define what services are run through viz and simulation request"
Currently, the only way to define what services to run is to add them to an application's configuration, as is shown [here](https://github.com/GRIDAPPSD/gridappsd-sample-app/blob/master/sample_app.config) in the sample app.

However, it would be more useful to add configuration to the simulation request - you should be able to run a service without running an application. This should be available

[2019-07-30 18:37] blthayer opened #13 "gridappsd-python's goss.py should have option for returning json for subscriptions"
Currently, `get_response` returns json for its "message" return, but `subscribe` only ever returns a string.

Proposed solution (after quick chat with @craig8):

Add optional input `response_type` to both `GOSS.subscribe` method `CallbackWrapperListener.on_message` method. It would default to string, but could optionally be set to JSON.

[2019-07-30 18:39] blthayer opened #14 "Capacitors are not controllable in new 9500 node model"
@poorva1209 @temcdrm @afisher1

Given my best interpretation of CIM, it's my understanding that for a capacitor to be controllable, it must have an associated RegulatingControl object. All but one capacitor in the 8500 node model have RegulatingControl, but in the new 9500 model, none do.

Fire up the platform with v2019.06.beta. With your web browser, visit http://localhost:8889/bigdata/#query. E

[2019-07-30 18:41] blthayer opened #15 "Make sensor service easily configurable"
Currently, the only way to configure the [sensor service](https://github.com/GRIDAPPSD/gridappsd-sensor-simulator) for a simulation is to modify the source code.

The sensor service should be configurable on a per-simulation basis. In other words, I should be able to run a simulation with 5-minute average meter reads, and after that simulation completes I should be able to run another with 15-minu

[2019-07-30 18:43] blthayer opened #16 "Document sensor service"
### Description of Issue
There isn't currently any documentation for the [sensor service](https://github.com/GRIDAPPSD/gridappsd-sensor-simulator). Doing a search for "sensor" in Read the Docs brings up only two page hits, and neither are related to the sensor service. Documentation should describe:
1. Where the repo is for reference
2. How the sensor service works and what it does
3. How to confi

[2019-07-30 18:45] blthayer opened #17 "Incorrect handling of regulator taps in fncs_goss_bridge.py"
### NOTE
Be sure to read the comments below, as the nature of this issue has changed slightly with the cim100 update.

### Description of Issue
fncs_goss_bridge.py expects integer tap positions (as GridLAB-D wants), but should expect and accept a float per unit voltage (as defined in the CIM).

### Affected Version
develop branch

### Additional Details
@blthayer has written Python code for transl

[2019-07-30 18:45] blthayer commented on #17
@afisher1 - with the CIM 100 update, this is still relevant but slightly different. Copying + pasting an example from Skype chat:

say we have a 32 tap regulator
in the CIM, that'll be taps 0 through 32
with 16 being the neutral tap
however, in GridLAB-D, it'll be -16 to 16, with 0 being the neutral tap
so, before forwarding the command to GridLAB-D, it should be shifted to the appropriate range

[2019-07-30 18:46] blthayer commented on #17
A note from @temcdrm:

"Since I was already in OpenDSS, the regulator tap neutral position has been changed from 16 to 0."

While this ensures the CIM and GridLAB-D now agree, to make the fncs_goss_bridge robust it should do the conversion between CIM and GridLAB-D anyways (even if it's currently a "no-op").

[2019-07-30 18:46] blthayer commented on #17
@poorva1209 @afisher1
I believe things are working now, but it's fragile and hard-coded. Check out lines 603-605:
[code]

Notice that the tap changer step is simply directly passed into the GridLAB-D simulation. GridLAB-D and the CIM **do not** follow the same conventions for defining tap changer positions. However, with @temcdrm's recent change, we're effectively hard-coding regulators to use the

[2019-07-30 18:48] blthayer opened #18 "Risky error handling in fncs_goss_bridge.py"
### Description of Issue
fncs_goss_bridge.py has several `except Exception` lines. While these are there to ensure the service doesn't crash, more detailed exception handling would be very useful for a user.

Primary concern: in the `_publish_to_fncs_bus` method, on line `431` we have `except Exception as ex:`. The problem here is it sends out an ultra generic error message. While developing, I wa

[2019-07-30 18:49] blthayer opened #19 "API call to "Request GridLAB-D Base File" returns invalid json"
### Description of Issue
When using the Python API to get a GridLAB-D model, it appears invalid json is returned.
#### Topic
`goss.gridappsd.process.request.config`
#### Request json
[code]
#### Response (invalid json, first and last 50 characters)
**NOTE**: The `...` below is intended to be an ellipse - I'm not going to put the entire GridLAB-D model string in here.
[code]
#### Hypothesis
I'm gue

[2019-07-30 18:51] blthayer commented on #19
Adding comments from original issue:

[2019-07-31 21:03] blthayer commented on #16
Adding the app-critical label since it's non-trivial to figure out how to use the sensor service...

[2019-07-31 21:12] poorva1209 commented on #16
@craig8 We already have an issue on board to document sensor service. Can you prioritize this and do this today ?

[2019-07-31 21:17] poorva1209 commented on #16
@blthayer sensor service is included in gridappsd container so it run it
1. Go into sample_app container by
  docker exec -it gridappsddocker_sample_app_1 bash
2. Edit sample_app.config to include gridappsd-sensor-simulator under pre-reqs key.
3. Exit sample app container
4. Go into gridappsd container and start platform.
   You should see last lines on platform terminal as sample_app registraton

[2019-07-31 21:18] blthayer commented on #16
@poorva1209 - thank you!

[2019-07-31 23:19] blthayer opened #20 "Cannot run model with houses"
__Platform version__: `v2019.07.0`

__Simulation request__:
[code]

__Relevant debug output from platform__:
[code]

__Hypothesis__: The GridLAB-D "run file" is not including the `residential` module.

[2019-08-01 14:50] blthayer opened #21 "Sensor service bugs"
__Overview__:
I got the sensor service running, and was able to query the time series database to get output. Upon inspecting the data returned, something seemed wrong.

__Details__:
I ran the sensor simulator with a 30 second `interval` (the default in the source code). However, the data I got back from querying the time series database was on a 3 second interval (just like the simulator).

__Pos

[2019-08-01 16:30] craig8 commented on #20
@blthayer This issue has been fixed in develop see https://github.com/GRIDAPPSD/GOSS-GridAPPS-D/pull/1034

[2019-08-01 16:30] #20 closed

[2019-08-01 18:10] blthayer commented on #21
@craig8 here's a little demo of tracking magnitude and phase separately vs. tracking a full blown complex number:

[code]
You can see the results here are not equal.

[2019-08-01 18:13] poorva1209 commented on #14
This is provided by the model itself. Should be discussed with Alexander and Shiva to figure out if these capacitors should have local smart control. @temcdrm will discuss this on App standup call this Friday.

[2019-08-01 18:25] blthayer commented on #14
@poorva1209 - this had to do with the issue where Shiva removed the control stuff from the model. When it get put back in there was some sort of debacle where something broke in the GridLAB-D --> OpenDSS --> CIM --> GridLAB-D conversion pipeline.

I think Craig has mentioned that he has a working version of the model in `develop`, but this issue is for `v2019.07.0`. Will there be a `v2019.07.1` re

[2019-08-01 18:48] poorva1209 commented on #2
Please test the new 9500 model in v2019.07.0 and develop tag. Closing this issue.

[2019-08-01 18:48] #2 closed

[2019-08-01 18:50] poorva1209 commented on #4
This is in process under this issue: https://github.com/gridappsd/goss-gridapps-d/issues/816

[2019-08-01 18:52] #1 closed

[2019-08-01 19:23] poorva1209 commented on #10
Similar for measurement mrid - useful to have multiple at the same time.

[2019-08-01 22:02] blthayer commented on #10
@ericstephan - let me know if you need more details, but here are some additional thoughts:

- The list size for measurement mrids should be unlimited if possible.
    - I think it's on the user to be smart about making queries that won't fill up their memory.
    - This is in line with other database API's I've used: they tend to give you a `fetchall` method which you use at your own risk. I don'

[2019-08-02 22:59] temcdrm commented on #14
Please check that the July 18 version of the 9500-node XML file has been loaded into the platform. Outside of the platform, the query does produce expected results on that file, i.e., nine individual phase capacitors are controllable, and a three-phase "capbank3" is not.  See attached.

The capcontrol objects in the source OpenDSS files had been re-enabled on July 1. There were unrelated updates f

[2019-08-03 16:32] blthayer commented on #14
@poorva1209 @craig8 @temcdrm
I confirmed that the queries above in platform version `v2019.07.0` yield the same results as when I originally filed the issue for `v2019.06.beta`. Will the fixed model be in the `v2019.08.0` release? When will that be available? I'm always hesitant to use `develop` - I kept having the rug shifting underneath me when I was running `develop` several months ago, so have

[2019-08-05 19:14] poorva1209 commented on #3
Closing this as it does not contain any open issues.

[2019-08-05 19:14] #3 closed

[2019-08-06 14:20] blthayer commented on #14
I can confirm this is now fixed when running the platform with the `develop` tag. I'll close this once the next release is out.

[2019-08-08 18:58] poorva1209 commented on #9
Documentation on how to start a service added here : https://gridappsd.readthedocs.io/en/master/using_gridappsd/index.html#how-to-start-a-service

[2019-08-08 20:20] Jeffrey-Simpson opened #22 "Weather data in the influxdb database is mountain time."
The time should be move 6 hours forward during Daylight Saving Time so that weather data lines up with the time of day that the simulation environment is running in.  It should be shifted 7 forward for Standard Time.

For example a  query at 1374489000 which is GMT Monday, July 22, 2013 10:30:00 AM gives these values:
[code]
When really we want the values 6 hours into the future  at 1374514200 to

[2019-08-13 23:09] blthayer commented on #7
@ericstephan @poorva1209 @craig8

I've just started using `v2018.08.0` which I saw in the release notes flattens the response from the timeseries API.

It would appear there are duplicate fields `data` and `measurements`. Here's a Python console session where I'm debugging the `parse_timeseries` method I gave above in the original issue:

[code]

If you want me to file a separate ticket for this b

[2019-08-13 23:36] blthayer commented on #7
@ericstephan @poorva1209 @craig8
I found a bug - the API is returning duplicates of the same measurement output over and over and over. Evidence (again from debugging `parse_timeseries`):

[code]

[2019-08-13 23:37] blthayer commented on #7
Adding app-critical and bug labels as this update seems to have broken things.

[2019-08-15 20:49] ericstephan commented on #7
I've checked in the code and talked to Poorva about this.   Poorva asked me to remove the "data" root object and pass back just the array of results back.  I can send same results if you are interested.

[2019-08-15 21:29] blthayer commented on #7
@ericstephan, thank you!

@afisher1 was going to talk to @tdtalbot about the bug which returns the same measurement over and over - any update on when that piece of things might be fixed?

[2019-08-17 14:35] poorva1209 commented on #7
@blthayer Eric has made changes to flatten the json as well as resolve the bug that is returning same measurement or weather from timeseries data store. I couldn't test it out as I am on travel . I will update this first thing on Monday.

@afisher1 @tdtalbot Just FYI.

[2019-08-17 16:44] ericstephan commented on #7
I will be available Monday when/if anything is needed.

Eric

On Sat, Aug 17, 2019 at 7:35 AM poorva1209 <notifications@github.com> wrote:

[2019-08-19 16:01] Jeffrey-Simpson commented on #7
I am getting errors on the query:
{"queryMeasurement":"weather",
"queryFilter":{"startTime":"1357048800000000",
                        "endTime":"1357048860000000"},
"responseFormat":"JSON"}

[code]

On the console I get:
[code]

[2019-08-19 16:06] poorva1209 commented on #7
I am still testing this one. I will send out an email as soon as this is resolved in develop as well as release containers.

[2019-08-19 18:58] #9 closed

[2019-08-19 19:00] poorva1209 commented on #4
Closing this task as all the issues mentioned are resolved.

[2019-08-19 19:00] #4 closed

[2019-08-19 20:29] #14 closed

[2019-08-20 18:15] #7 closed

[2019-08-20 21:31] poorva1209 commented on #22
Please test this with latest release 2019.08.1 and close.

[2019-08-20 22:35] poorva1209 commented on #21
@Craig I think we need to pick this issue in current release as this is app-critical. Let's talk when you are back to plan again.

[2019-08-20 23:28] Jeffrey-Simpson commented on #22
Hello,
I am testing  with ./run.sh -t v2019.08.1 and but I am still getting results in MST.
Also I getting only ten values back instead of a whole for this script.
Thanks,
-Jeff

From: poorva1209 <notifications@github.com>
Reply-To: GRIDAPPSD/gridappsd-forum <reply@reply.github.com>
Date: Tuesday, August 20, 2019 at 3:32 PM
To: GRIDAPPSD/gridappsd-forum <gridappsd-forum@noreply.github.com>
Cc: "Si

[2019-08-20 23:30] poorva1209 commented on #22
Did you run ./stop.sh -c before ./run,sh ?

[2019-08-21 09:39] craig commented on #21
NO!

[2019-08-21 15:24] Jeffrey-Simpson commented on #22
Yes.
I will try again this morning.

[2019-09-01 16:56] blthayer opened #23 "Missing EnergyConsumer phases/measurements, 9500 node model, v2019.08.1"
Platform version: `v2019.08.1`
Model: `9500 node`

In the 9500 node model, all energy consumers are split phase 120V/240V, and the individual phases (`s1`, `s2`) each have two `Analog` measurements: one for `PNV` and one for `VA`.

It follows that each `EnergyConsumer` should have exactly 4 measurements associated with it. This was true prior to the `v2019.08.1` release (at least in the July relea

[2019-09-01 22:15] blthayer opened #24 "gridappsd-python `Simulation` class issues"
My use case for context:
- Run simulation
- Wait for simulation to complete
- Query time series database for simulation outputs

When I run a simulation via gridappsd-python's `simulation.Simulation` class, the `on_complete` callbacks seem to get triggered before the simulation is actually complete. Though it's possible that the simulation output hasn't been fully processed yet.

Here's the simula

[2019-09-01 22:31] blthayer opened #25 "Add log flag to run file in gridappsd-docker"
@craig8 @poorva1209

It would be a nice enhancement to have some sort of log-level flag when starting the platform, rather than having to go into some hard to remember files and change the log level.

[2019-09-01 22:42] blthayer opened #26 "Simulation with houses fails to run"
@poorva1209 @afisher1
Platform version: `v2019.08.1`
The following run configuration fails. However, flipping the `use_houses` field to `false` results in a simulation which runs.
[code]
Platform output:
[code]

[2019-09-03 01:27] shpoudel opened #27 "Meaning of a fault in an event"
I simulated a three phase fault in IEEE 123-node circuit (image attached). With this fault, I was expecting at least a switch to be opened as a protection. However, when I see the simulation output, I didn't see any switch open during the simulation. How can I know via simulation output that event has been simulated? Is it through fault current or some other attribute?

![image](https://user-image

[2019-09-05 16:57] poorva1209 commented on #27
@afisher1 Can you help Shiva with this.

[2019-09-05 18:42] temcdrm commented on #23
The 9500-node loads are actually not all split-phase. In the repository UnbalancedLoads.dss file from July 18, sx1108403c is part of a three-phase unbalanced load at 120 Volts.  So, the described CIM and GLM outputs are probably as expected for those three-phase unbalanced loads. The first 9 lines are part of 3 unbalanced secondary loads.

The last 4 lines are specified in UnbalancedLoads.dss as b

[2019-09-05 19:55] AAndersn commented on #23
Tom, you are correct: these are loads that we added in increase the load of the feeder.

Please confirm that the solution is adding a set of .2 loads to the DSS file.

[2019-09-10 18:24] tonya1 opened #28 "Docker-compose errors when docker is installed with snap"
Installing docker with snap allows apparmor to protect containers from docker-compose.  Add this additional parameter to the docker-compose file for each service.'

--security-opt seccomp:unconfined

This should be tested with our VM setup and added if there are no conflicts.

[2019-09-10 21:19] AAndersn opened #29 "Duplicate redis service"
When starting Gridapps-D using `./run.sh -t v2019.09.0`, docker returns an error:

[code]

After running `sudo service redis stop`, I am then able to run `./run.sh -t v2019.09.0`, and gridapps-d and all docker containers start.

[2019-09-10 21:21] poorva1209 commented on #29
@tonya1 Please look at this issue and see if we check for duplicate redis service and ask user to close it instead of showing this error.

[2019-09-11 21:59] poorva1209 commented on #15
@craig8 @bibiraju I updated my branch for service config changes: https://github.com/poorva1209/GOSS-GridAPPS-D/tree/update_service_config

Please test it with following request:
`{"power_system_config":{"SubGeographicalRegion_name":"_ABEB635F-729D-24BF-B8A4-E2EF268D8B9E","GeographicalRegion_name":"_73C512BD-7249-4F50-50DA-D93849B89C43","Line_name":"_49AD8E07-3BF9-A4E2-CB8F-C3722F837B62"},"simulat

[2019-09-11 22:10] poorva1209 commented on #12
Connected with issue #15

[2019-09-19 18:06] poorva1209 commented on #26
9500 model DSS files need to be changed for this. @afisher1  is currently testing the updated model.

[2019-09-19 18:23] Jeffrey-Simpson opened #30 "Need for documentation for the fact that measurement values for objects are a value or magnitude and angle but setting object attributes follow the convention of defined for the CIM object."
Need for documentation for the fact that measurement values for objects are a value or magnitude and angle but setting object attributes follow the convention of defined for the CIM object.

For example the PV power inverter p and q set points should be the active and reactive power.

[2019-09-19 19:47] craig8 commented on #29
@AAndersn I believe this means that you have a service outside of the container that is redis.  You have two options.  You can remove the external redis service (or stop it like you did) or you can change the redis port and the connection string that redis uses to that port.  This however isn't a bug, but a configuration issue with your specific environment.

[2019-09-19 19:47] #29 closed

[2019-09-20 18:00] #12 closed

[2019-09-23 20:18] poorva1209 commented on #8
API and documentation updated.

@ericstephan @bibiraju Add value as a query filter for the simulation output message.

['hasSimulationMessageType', 'measurement_mrid', 'angle', 'magnitude', 'simulation_id', 'value', 'time']

Documentation updated.

[2019-09-23 20:48] poorva1209 commented on #16
@craig8 Update sensor service query data request and response here: https://gridappsd.readthedocs.io/en/latest/using_gridappsd/index.html#query-sensor-service-data

[2019-09-27 17:58] #26 closed

[2019-09-29 23:48] blthayer opened #31 "9500 node model: possibly bad initial topology"
As has been mentioned in the past, I use GridLAB-D "off to the side" as a tool for solving the powerflow and getting data out.

I query the platform to get the "base" model, and then add the necessary components (e.g. clock, powerflow module, etc.) in order to get the model in shape to run. This has been working until I tried platform version `v2019.09.1` (note I never used `v2019.09.0`, so this i

[2019-09-30 15:52] afisher1 commented on #31
That error is because the GridLAB-D version you are using is out of date. Are you using the version of gld that is on the platform? If not you need to update to the latest version of the develop branch.

[2019-09-30 16:46] blthayer commented on #31
@afisher1 - I just finished triple-checking (rebuilding container, deleting and recreating PyCharm interpreter, etc.) and I'm still getting this error.

My container contains the latest from GridLAB-D's `develop` branch. As evidence, here's the output from running `gridlabd --version` inside my container:

[code]

I was able to get gridlab-d running inside the platform container (`v2019.09.1`) (ha

[2019-09-30 20:35] poorva1209 commented on #22
@Jeffrey-Simpson Please test this with the latest release.

[2019-09-30 23:14] Jeffrey-Simpson commented on #22
Hello,
It looks good to me!
Thanks,
-Jeff

From: poorva1209 <notifications@github.com>
Reply-To: GRIDAPPSD/gridappsd-forum <reply@reply.github.com>
Date: Monday, September 30, 2019 at 2:35 PM
To: GRIDAPPSD/gridappsd-forum <gridappsd-forum@noreply.github.com>
Cc: "Simpson, Jeff" <Jeff.Simpson@nrel.gov>, Mention <mention@noreply.github.com>
Subject: Re: [GRIDAPPSD/gridappsd-forum] Weather data in th

[2019-10-01 16:57] poorva1209 commented on #22
Thanks @Jeffrey-Simpson . I am closing this issue.

[2019-10-01 16:57] #22 closed

[2019-10-01 17:16] afisher1 commented on #31
You are running the 9500 node. Due to the meshed topology of the system we have to add the following objects to the model. You can see this in the model_startup.glm file. In fact regardless of whether the model is meshed or not we add these objects as they don't break anything if the system is truly radial.

module reliability;
object fault_check {
    name fault_check_object;
    check_mode ONCHA

[2019-10-01 17:39] afisher1 commented on #31
When I add those objects to the file you sent the simulation solves for me.

[2019-10-01 20:48] blthayer commented on #31
@afisher1 - Thank you! I'll give this a go tomorrow when I have time and close this issue.

[2019-10-02 14:01] blthayer commented on #31
@afisher1 - that fixed it, thank you. I've updated my code and tests, and am comfortable closing this issue. Are there any gotchas I should be aware of? I'll effectively be always adding those objects to any model I want to run.

[2019-10-02 14:01] #31 closed

[2019-10-03 18:10] #23 closed

[2019-10-04 18:16] blthayer commented on #21
Dropping in to note that the current version is still only tracking voltage magnitudes, and not doing any processing with angles. This is okay for my use case, but something we'll need to fix long term.

[2019-10-07 19:26] #16 closed

[2019-10-07 19:26] #15 closed

[2019-10-07 20:39] shpoudel opened #32 "Fault in 9500 node model"
@poorva1209 and @afisher1 , I worked with 9500 node model to test if faults are working. However, I have an error showing up in the console before I could verify it. I have attached the error as a picture here. Could you please let me know the reasons for such an error?

![image](https://user-images.githubusercontent.com/35777492/66346803-c921f700-e907-11e9-8a9e-3c05bdf340f0.png)

Note: I added a

[2019-10-07 20:45] poorva1209 commented on #32
@shpoudel : Can you run the simulation multiple times and get the same error every time? This is something the FNCS do randomly so it shouldn't repeat with every simulation.

[2019-10-08 00:01] shpoudel commented on #32
@poorva1209 : I ran the simulation couple of times and it was not a success. However, again I encountered a new type of error in the console. Could you please look into it?

![image](https://user-images.githubusercontent.com/35777492/66357509-0b593180-e924-11e9-8508-8e7b51be2895.png)

[2019-10-08 00:04] poorva1209 commented on #32
@afisher1 Can you check the new error message.

[2019-10-08 20:22] poorva1209 commented on #11
We won't control the header timestamp for now.

That will remain in second.

3. Time filters for Proven queries: **microseconds** since the epoch. HOWEVER: Proven returns timestamps in the output in **seconds** since the epoch. This is exceptionally egregious.

Proven queries and response both changes to have timestamp in second.

@Tonya: Tag proven:test as proven:develop. I have test it.

[2019-10-08 22:14] tonya1 commented on #11
Merged #1123 and updated proven:develop

[2019-10-08 22:14] #11 closed

[2019-10-09 17:21] ArunWSU opened #33 "Ability to run time series simulations with load profile"
Hi,
  I'm Arun, an app developer from WSU. To build and run my application, I need a time series with load power variations by assigning load shapes. Though I tried running simulation with houses, the voltage magnitude and load power measurements are constant as shown in the image. Kindly guide me on this, if the feature currently exists.

![Constant_power_houses_simulation.png](https://images.zen

[2019-10-09 17:38] poorva1209 commented on #33
@temcdrm Would this issue be resolved once we include internal house loads with scheduled load file? Or is this something different?

[2019-10-09 20:41] blthayer opened #34 "Simulation configuration does not handle ZIP fractions correctly"
@temcdrm @afisher1 @poorva1209

I've confirmed this is an issue both through the GUI and when starting a simulation with my own code. The steps to reproduce are quite simple:

1. Start platform
2. In the GUI, select the 8500 node feeder
3. In the "simulation" tab, change `z_fraction` from `"0"` to `"1"` and change `i_fraction` from `"1"` to `"0"`.
4. Click "submit"
5. After the one line diagram lo

[2019-10-09 22:32] temcdrm commented on #34
Is there a log of what arguments get passed to the CIMImporter?  This output would be expected if both -z=1 and -i=1.

The GUI shouldn't really call these fractions.  Whenever z, i, or p is specified, then the fractions are calculated as, for example, i/(z+i+p).  So you could input these as fractions and it would work if they all sum to 1.  However, you could also input percent or some other schem

[2019-10-10 19:37] Jeffrey-Simpson commented on #33
You can build a 123 CIM model will pv and secondary loads here:
https://github.com/GRIDAPPSD/Powergrid-Models/tree/develop/blazegraph/test/dss/NREL

You might have to comment out the some of the loads in the IEEE123Master_fixedVR.dss so that there are no duplicate objects added.

Copy the following to opens_cmd_123pv_house_cim100.txt and run it with opendsscmd
[code]

[2019-10-13 20:24] blthayer opened #35 "Errors when commanding equipment"
@poorva1209 @craig8
# Version information
Platform version: `v2019.09.1`
Model: 9500 (MRID: `'_AAE94E4A-2465-6F5E-37B1-3E72183A4E44'`)

# Error from platform
[code]

# To reproduce
1. Start simulation with 9500 node feeder.
2. Create a `GridAPPSD` object (Python), call it `gad` for the sake of these steps.
3. Define the following json string as `msg` (and replace the simulation ID):
[code]

4. Ass

[2019-10-14 18:50] Jeffrey-Simpson opened #36 "PV inverter setpoints are being reset by the weather player file"
I believe that PV inverter setpoints are being reset by the weather player file. I noticed that after our algorithm changes the p and q set point that the set points get changed back after a minute which lines up with the frequency of the data in the player file.

[2019-10-14 21:53] poorva1209 commented on #35
@blthayer I think this is a documentation issue. I tried the following and it is working in v2019.09.1. I updated the documentation too here: https://gridappsd.readthedocs.io/en/latest/using_gridappsd/index.html#send-input-to-simulation

While debugging this we captured another issue with Proven that if all the values are of string type then it treats them as "tags" instead of field values. I am c

[2019-10-15 02:09] blthayer commented on #35
@poorva1209 @craig8
Thanks for updating the documentation. I did initially have the messages sending in the format Poorva suggested, but changed it when I saw it was different from the documentation.

I think my primary issue is this "internal server error" causes the `gridappsd-python` code to come crashing down. Here's a stack trace:

[code]

I went ahead and patched this in `gridappsd-python`,

[2019-10-15 02:09] #35 closed

[2019-10-15 19:36] ArunWSU commented on #33
Hi,
Sorry for the late follow-up. I was havingh trouble installing openDSS in linux. I used "Procedure to compile OpenDSS in your local Linux distribution", v1.0, 2017 to build opendsscmd. I'm using version 8, which is working when I verified for IEEE 13 bus system.
In step 1, I faced one error is that in your "master_VR" you have defined as "IEEELinecodes.DSS", which doesn't redirect unless it is

[2019-10-15 19:41] Jeffrey-Simpson commented on #33
Hello,
You should use version 1.2.
You can also just use the opendsscmd that is in the gridappsd docker container.

docker ps
docker cp <dir-to-copy> <containerid>:<dir-location>
docker exec -it <containerid> bash
opendsscmd <file>

From: Arun Imayakumar <notifications@github.com>
Reply-To: GRIDAPPSD/gridappsd-forum <reply@reply.github.com>
Date: Tuesday, October 15, 2019 at 1:36 PM
To: GRIDAPPSD/

[2019-10-15 21:19] ArunWSU commented on #33
Hi,
I followed the steps that you had outlined. I had the containers running and used the container gridappsd: v2019.09.1 for running opendsscmd. Then, I created a directory in it and copied all the all the files into it using the docker cp command. I opened and checked the files after docker exec command. If I run the opendsscmd, it still shows the same error as the previous image with two additi

[2019-10-15 21:50] Jeffrey-Simpson commented on #33
Hello,
I tried  and I get the same error in the docker container. Maybe it is not as up to date as I thought.

Can you download and try one of these versions?
https://sourceforge.net/projects/electricdss/files/OpenDSSCmd/

Thanks,
-Jeff

From: Arun Imayakumar <notifications@github.com>
Reply-To: GRIDAPPSD/gridappsd-forum <reply@reply.github.com>
Date: Tuesday, October 15, 2019 at 3:19 PM
To: GRIDA

[2019-10-15 22:03] ArunWSU commented on #33
Hi,
I also saw that link previously when I googled opendsscmd. But, it is only an executable run file and is not linked to any application. Hence, it doesn't work. I will update you if I can find some way to link and update it to the previous installation.
Arun

[2019-10-15 22:13] Jeffrey-Simpson commented on #33
The installer run in the container and should run on your machine.
You will have to run as super user I think

docker cp ~/Downloads/opendsscmd-1.2.2-linux-x64-installer.run 0f2e229c94a2:/tmp/gridappsd_tmp/

chmod 777 opendsscmd-1.2.2-linux-x64-installer.run

 ./opendsscmd-1.2.2-linux-x64-installer.run

From: Arun Imayakumar <notifications@github.com>
Reply-To: GRIDAPPSD/gridappsd-forum <reply@rep

[2019-10-17 07:19] ArunWSU commented on #33
Hi,
I still didn't get an XML file as I get an Error 303: File not found after following the steps that you have outlined above. Just to make a clarification, will doing the steps only generate a secondary model in the platform or will it help in generating time series measurements? Kindly provide me a tested out working fix.
Thanks and regards,
Arun.

![opendss_cmd_1 2 2_execution_error](https://

[2019-10-17 16:20] Jeffrey-Simpson commented on #33
It builds a model with secondary loads.
Since you copied the files into the docker container they will not have the correct file permissions.
Try logging into the container as root.
Docker exec -it -u root <ID>
And running it.
Also make sure you are not importing things twice like the pv_high file or you will get those duplicate errors.
Thanks,
-Jeff

From: Arun Imayakumar <notifications@github.co

[2019-10-18 20:18] poorva1209 commented on #34
@tdtalbot In GLDAllConfigurationHandler we are changing iFraction to 1 even if user 0 value in simulation request. Here is the code snippet (line 165)
[code]
This is causing the problem that Brandon mentioned in this issue. I just wanted to make sure that this is not done for some specific reason before removing 'iFraction=1' line.'

[2019-10-18 21:27] #34 closed

[2019-10-21 17:26] shpoudel opened #37 "Simulation output not updated"
@poorva1209 : I am subscribing to simulation output to check the switch status every time I get a message from the platform. Even if I changed the status of some switch manually, the output remains the same. It was working fine when I gave the demo a few weeks back on the IEEE 123-node system. Is there something I should be aware of?

Note: I am checking the status of LoadBreakSwitch.

[2019-10-21 17:28] poorva1209 commented on #37
What release version are you using ?

[2019-10-21 17:29] shpoudel commented on #37
I am using 2019.09.1

[2019-10-21 17:31] poorva1209 commented on #37
Can you also send met the message you are sending to change the switch status,.

[2019-10-21 17:44] shpoudel commented on #37
I am changing it from visualization. However, I also tried it by sending the following code. It is just a sample code for opening Switch5 in IEEE 123 node. I get a message in console that the message is passed but I don't see the corresponding change in simulation output back.

 op = ['_F2599E92-5611-4112-B522-3D3044A8055F']
        if self.flag_sw == 0:
            for sw_mrid in op:

[2019-10-21 17:52] shpoudel commented on #37
Following are the snapshots:
![image](https://user-images.githubusercontent.com/35777492/67229738-c556a000-f3f0-11e9-9dcf-8a355de5b370.png)
![image](https://user-images.githubusercontent.com/35777492/67229774-d7d0d980-f3f0-11e9-903c-2b6dc91b2255.png)

[2019-10-22 18:07] #21 closed

[2019-10-23 21:30] ftuffner commented on #36
@Jeffrey-Simpson I'm having some issues duplicating this issue, but I'm not sure I am looking at it right.  When you mention the "weather player file", is that playing directly into the weather object, or are you using the "PLAYERVALUE" mode of the solar object?

[2019-10-23 21:43] Jeffrey-Simpson commented on #36
Hello,
It should be a  weather csv playing into a climate object.

This is the start file:

clock {
     timezone "UTC0";
     starttime '2013-07-22 16:30:00';
     stoptime '2013-07-22 16:35:00';
}
#set maximum_synctime=3600
#set suppress_repeat_messages=1
#set relax_naming_rules=1
#set profiler=1
#set minimum_timestep=0.1
module connection;
module generators;
module tape;
module powerflow {

[2019-10-24 20:16] blthayer opened #38 "Error when running simulation with sensor service"
@poorva1209 @craig8
Platform version: `v2019.10.0`

Simulation configuration is below. Note you'll need to change the "applications" section to be an empty list (or switch it to use the sample app).
[code]

Platform error:
[code]

[2019-10-24 20:32] blthayer commented on #38
@poorva1209 @craig8 - I had a bad configuration for my application - had the empty string in prereqs.

[2019-10-24 20:32] #38 closed

[2019-10-28 14:15] blthayer opened #39 "Implement simulation clock topic/service"
@poorva1209 @craig8
Not a high priority issue, just something I'm thinking about since I'm finding myself needing to implement my own version of this.

It would be quite helpful if there was a topic one could subscribe to that simply emitted the current simulation time. At present, one has to listen to the simulation log and look for messages which say "incrementing to <time step>." Then, one has

[2019-10-28 17:10] blthayer commented on #39
Update: You can find my implementation [here](https://github.com/GRIDAPPSD/pyvvo/blob/develop/pyvvo/gridappsd_platform.py) (search for "class SimulationClock") and corresponding tests [here](https://github.com/GRIDAPPSD/pyvvo/blob/develop/tests/test_gridappsd_platform.py) (search for "SimulationClockTestCase").

[2019-10-28 20:08] poorva1209 commented on #39
Log message is not a good of checking for simulation clock time.
There is a queue where fncs bridge publishes simulation time that is subscribed by Test Manager only. We can convert that into topic so applications/services can also subscribe to it. I will add the details here soon.

[2019-10-28 23:35] shpoudel opened #40 "TimeoutError in version 2019.10.0"
@poorva1209 @craig8
I am getting the time out error while using the get_response() function from goss.py to query for the object measurement MRIDs.  It was working fine for v2019.09.1

[2019-10-30 13:21] blthayer commented on #40
@shpoudel

This is a simple fix - up the `timeout` parameter. The signature of the `get_response` function is as follows ([source](https://github.com/GRIDAPPSD/gridappsd-python/blob/develop/gridappsd/goss.py)):

[code]

You can see the default timeout is 5 seconds, which is relatively low. There are times when the platform is not very responsive (e.g. if it's in the middle of generating the 9500 n

[2019-10-30 13:27] blthayer opened #41 "GridAPPSD/GOSS classes in gridappsd-python only allow one subscription per topic"
@craig8
Copy + pasting from email, please let me know if additional details are needed:

Question for you: does the current gridappsd-python architecture support multiple subscriptions on the same topic? It would seem the answer is no. Here’s what I saw:

1)	Initialize GridAPPSD object.
2)	Start simulation using GridAPPSD and Simulation objects.
3)	Using same GridAPPSD object, subscribe to simulat

[2019-10-30 13:39] blthayer opened #42 "Memory leak in gridappsd-python/simulation"
@craig8

The `Simulation` class in gridappsd-python/simulation uses regular sets to track callbacks, which can/does lead to memory leaks. A good explanation can be found [here](https://stackoverflow.com/a/14922132/11052174).

Fortunately, the fix is simple: replace `set()` with `weakref.WeakSet()`.

I'll fix this and push to develop.

[2019-10-30 17:11] shpoudel commented on #40
@blthayer Thanks for the reply. However, I am not using the default timeout. I have given timeout = 90 seconds in my code. Do you remember what value you used there? I remember someone in last week's meeting mentioned 90 seconds should be more than enough.

[2019-10-30 17:14] poorva1209 commented on #40
@shpoudel What model and object type are you using for measurement queries. 90 seconds should be more than enough for the response. Can you check if your influxdb and proven containers are up and running?

[2019-10-30 18:10] blthayer opened #43 "Switch open command not working, switch measurements possibly reporting the wrong state"
@poorva1209 @Jeffrey-Simpson @craig8 @shpoudel @temcdrm

## Background information
Platform version: `v2019.10.0`
Model: 9500, mrid: `_AAE94E4A-2465-6F5E-37B1-3E72183A4E44`

As the title infers, this is a little bit of a "double issue" but both aspects are tightly coupled.

Switch CIM name: `ln0895780_sw`
Switch name in GridLAB-D model: `"swt_ln0895780_sw"`
Switch MRID: `_1B6A5DFD-9ADA-404A-83DF-C

[2019-10-30 19:21] shpoudel commented on #40
@poorva1209 I am using a 9500 node model and object type for me are LoadBreakSwitch and EnergyConsumer. Yes, the containers you mentioned are up. I changed it into 180 seconds and it worked a few times and again the same error came up. It seems so random to me.

[2019-10-30 19:29] shpoudel commented on #43
@blthayer: I agree with you on the second part of your title: switch measurements possibly reporting the wrong state and it's similar to what I mentioned in this issue (https://github.com/GRIDAPPSD/gridappsd-forum/issues/37).

What I observed back then was: When I changed the switch status for restoration, then the change in binary value, Pos (0/1) is not reflected in the simulation output. Howeve

[2019-10-30 20:05] temcdrm commented on #43
There is a semantic difference between CIM's Switch.open attribute, which is a Boolean, and the switch position, which is an enumeration. We've been using the GridLAB-D convention where Pos=0 means open, and Pos=1 means closed.  I'm attaching a screen shot from the Web showing a different four-state Pos enumeration from IEC 61850.  Shiva's last paragraph describes the way to handle this; even if w

[2019-10-30 20:05] poorva1209 commented on #43
Yeah, I can reproduce the issue. I am currently testing it with updated fncs goss bridge and Viz app. I will let you know how that goes.

[2019-10-30 20:14] poorva1209 commented on #43
@shpoudel @temcdrm

Just to be clear,
For switch Pos measurements: 1 is closed and 0 is open.
For Switch.open command: 1 is open and 0 to closed.

Do I understand it correctly?

[2019-10-30 20:16] temcdrm commented on #43
Yes, that’s the intent.

[2019-10-30 20:18] shpoudel commented on #43
The first statement is correct. For the second statement, 1 is to open if forward_value is 1. @poorva1209 if you are working with this one, could you also please also check if "Pos" gets updated if you change the switch status manually or via code. This will also answer my issue (https://github.com/GRIDAPPSD/gridappsd-forum/issues/37)

[2019-10-30 20:23] craig8 commented on #42
formality of a pull request eh :)

[2019-10-30 20:24] poorva1209 commented on #43
@shpoudel Yes #37 and this issue basically the same. I thought there is a bug in fncsgossbridge and Viz app with the open/close values. But seems like they are both doing it right. This means the values are not changing in GridLAB-D. Let me capture the exact command fncsbridge is sending to gridlab-d and maybe Frank can help with this.
@temcdrm Just to be sure, does anything changed in model with

[2019-10-30 20:25] blthayer commented on #43
Thanks @temcdrm and @shpoudel for the pointers. I'll update my code to handle the differences between the measurement state and the switch command.

[2019-10-30 20:27] shpoudel commented on #43
@poorva1209: One comment on your question to Tom. This was working fine when I gave a demo for the IEEE 123-node (9/19/2019).

[2019-10-30 20:30] temcdrm commented on #43
@poorva1209 There have been no model changes that would affect this issue.

[2019-10-30 21:16] craig8 commented on #42
[code]

with a tuple we get this error...so going to have to do something different.

[2019-10-31 17:59] poorva1209 commented on #37
v2019.10.0 has been updated to resolve this issue. Please test it again by stopping and pulling the containers again.

[2019-10-31 17:59] poorva1209 commented on #43
v2019.10.0 has been updated to resolve this issue. Please test it again by stopping and pulling the containers again.

[2019-10-31 18:17] blthayer commented on #43
@poorva1209 - what's changed in the container? I need this information so I can decide whether I need to update all my testing files or not (which I already did for the 2019.10.0 release...)

[2019-10-31 19:18] blthayer opened #44 "No power consumption by load(s) in 9500 node model"
@poorva1209 @craig8
@Jeffrey-Simpson has also observed this behavior.

## The Problem and How to Reproduce
Title sums it up: I'm looking at power output (VA measurements) for a given load and getting 0 values, but the voltage (PNV measurements) are not zero, and close to nominal. Since the voltage is not 0, the load is indeed connected to the system.

Here's my run configuration:
[code]

Take a lo

[2019-10-31 20:06] poorva1209 commented on #43
The simulation output is now correctly publishing switch open/close state.

[2019-10-31 20:13] poorva1209 commented on #44
Ok...working on it. I think I know what the issue is. It should be a quick fix.

[2019-11-01 00:11] AAndersn commented on #44
Brandon, I checked by running a simulation on the 10.0 release, and I am getting 3.6 MW of load fed by the 115-69kV xfmr. I am currently checking the DG output values because the don't look right in the base case.

[2019-11-01 19:10] shpoudel commented on #44
I am also getting 0 values for VA measurements.

Also, where can I find the logic for converting **start time** and  **end time** to timestamp?

[2019-11-01 19:56] blthayer commented on #44
@AAndersn Thanks for the observations!

@shpoudel - assuming you're using Python:
[code]

@poorva1209 - any update on this issue?

[2019-11-01 20:08] poorva1209 commented on #44
I have resolved this issue and made an update on the develop tag. Please pull the develop tag container and test it again.

[2019-11-01 20:58] blthayer commented on #44
@poorva1209 - I seem to be getting non-zero VA measurements from EnergyConsumers when I run the platform with the `develop` tag. So this seems fixed to me.

[2019-11-01 21:07] shpoudel commented on #44
Same here. Working with **develop** tag gave me VA measurements.
Thanks, @blthayer and @poorva1209

[2019-11-01 21:40] shpoudel commented on #44
Randomly, I am getting the following error:
**Process Initialization error: No load schedule data in time series data store. Setting useClimate = False.**

[2019-11-01 22:00] blthayer commented on #43
@poorva1209 - I can confirm the switch commands are now working in `v2019.10.0`

[2019-11-01 22:27] #43 closed

[2019-11-01 22:27] #37 closed

[2019-11-01 22:28] poorva1209 commented on #44
I will create another issue for this and try to reproduce it.

[2019-11-01 22:28] #44 closed

[2019-11-01 22:29] poorva1209 opened #45 "Random error for no load data"
Randomly, I am getting the following error:
Process Initialization error: No load schedule data in time series data store. Setting useClimate = False.

Re-running the run.sh solve this.

[2019-11-01 23:21] shpoudel commented on #45
@poorva1209 and @tonya1: Please let me know when this is fixed.

[2019-11-04 17:11] blthayer opened #46 "Error in fncs_goss_bridge when commanding regulators"
@craig8 @poorva1209

Platform version: `v2019.10.0`
Model: `9500`, e.g. MRID = `_AAE94E4A-2465-6F5E-37B1-3E72183A4E44`

To reproduce:
Start a simulation with the 9500 node model, and after everything is initialized and running, send in the following command. Be sure to update the `simulation_id` (I don't think the `timestamp` matters).
[code]

The following error messages are then emitted:
[code]

[2019-11-04 17:22] tonya1 commented on #45
@shpoudel  and @poorva1209 Could I get a little more information on the error?

Where are you seeing the error? Is it after running run.sh?  Is it Is it after starting a simulation?  Which model are you using?

Thanks,

Tonya

[2019-11-04 17:24] shpoudel commented on #45
@tonya1: I am getting this error after doing ./run-gridappsd.sh and when I click start on the viz. It occurs for both the 123 bus and 9500 node model.

[2019-11-04 23:59] blthayer commented on #46
This was occurring due to a recently introduce bug in my application code. I've fixed it, and we're good to go. I guess that's one of the prices of my bug-hunting services: the occasional false alarm. My apologies.

[2019-11-04 23:59] #46 closed

[2019-11-05 21:34] therahuljha opened #47 "Time out error"
@poorva1209 I am facing time out error whenever I try to query the regulator and capacitor mrids for 9500 node. I am running in develop  version.

 raise TimeoutError("Request not responded to in a timely manner!")
gridappsd.goss.TimeoutError: Request not responded to in a timely manner!

[2019-11-05 21:37] therahuljha commented on #47
I tried by changing time out to 180. But, still I am getting TimeoutError.

[2019-11-05 21:38] poorva1209 commented on #47
@therahuljha Please add the query request to the comment.

[2019-11-05 21:41] therahuljha commented on #47
topic = "goss.gridappsd.process.request.data.powergridmodel"
    message = {
        "modelId": model_mrid,
        "requestType": "QUERY_OBJECT_MEASUREMENTS",
        "resultFormat": "JSON",
        "objectType": "PowerTransformer"}
    obj_msr_reg = gapps.get_response(topic, message, timeout=180)

    message = {
        "modelId": model_mrid,
        "requestType": "QUERY_OBJECT_MEASUREMENTS",

[2019-11-05 21:42] poorva1209 commented on #47
Thanks, I will try it now.

[2019-11-06 17:32] blthayer opened #48 "Inverters exceeding rated power in simulation"
@AAndersn @afisher1 @poorva1209 @craig8 @temcdrm @Jeffrey-Simpson @shpoudel

Platform version: `v2019.10.0`

It would appear that during the course of a normal simulation, there are several inverters exceeding their rated power, and some exceed it by a significant amount.

Here's my run configuration:

[code]
Inside my application code, I listen to the simulation output, filter to get VA measureme

[2019-11-06 18:50] shpoudel commented on #48
@blthayer: I don't know how the rating for inverters is assigned in GridLAB-D. Do you know the multiplier for PV at the time instant you logged your output? Stating your problem in a different way, it seems like PV is producing more power than it's kVA rating when getting a multiplier for variable power generation.

Also, while looking into the .DSS files for PV, it appears that PVs were created i

[2019-11-06 19:41] temcdrm commented on #48
Here is the GridLAB-D syntax for one of the overloaded inverters, its paired unbalanced inverter, and the triplex_meter they both share:

object triplex_meter {

  name "sx2766721a_pvmtr";

  parent "sx2766721a";

  phases AS;

  nominal_voltage 120.09;

}
object inverter {
  name "inv_pv_pv_1039";
  parent "sx2766721a_pvmtr";
  phases AS;
  generator_status ONLINE;
  four_quadrant_control_mode CO

[2019-11-06 19:52] shpoudel commented on #48
@temcdrm: I have the answer to your first question. The PV files were created by Alexander and me when we were working with an unbalanced load for 9500 nodes. I remember a couple of weeks back you changed the loads to a balanced one. At that time, it was not in our memory that PV files need to be changed as they were created long back in accordance with unbalanced loads.

Yes, It makes sense- "Eve

[2019-11-06 21:39] blthayer commented on #48
So, am I correct in that @shpoudel and/or @AAndersn are planning to modify the residential PV to be connected at 240V instead of 120V?

We still need someone to investigate the primary part of the issue, however - how/why are these inverters outputting above their rated power and/or above the rated power of their PV objects? As I first step, it would be good to know if someone can reproduce/confir

[2019-11-06 22:21] shpoudel commented on #48
@blthayer: Sorry. I am busy with the PESGM deadline until tomorrow. I can look into it tomorrow evening or early Friday morning only.

[2019-11-06 22:41] Jeffrey-Simpson commented on #48
Hello,
I am seeing this as well now that Brandon mentioned it.
Here are my PV output for P.
Thanks,
-Jeff

From: Brandon Thayer <notifications@github.com>
Reply-To: GRIDAPPSD/gridappsd-forum <reply@reply.github.com>
Date: Wednesday, November 6, 2019 at 2:39 PM
To: GRIDAPPSD/gridappsd-forum <gridappsd-forum@noreply.github.com>
Cc: "Simpson, Jeff" <Jeff.Simpson@nrel.gov>, Mention <mention@noreply.gi

[2019-11-06 23:05] blthayer commented on #48
@Jeffrey-Simpson - not sure if you tried to attach something to the email or what, but not seeing any of your outputs.

[2019-11-08 21:17] blthayer opened #49 "Regulator outage event doesn't work and platform throws error"
@Jeffrey-Simpson @craig8 @poorva1209
Platform version: `v2019.10.0`

Simulation run configuration:
[code]

As can be deduced from the run configuration, the regulator position change and lockout should occur 60 seconds into the simulation.

At that time (I can tell from my own logs), the platform errors out:
[code]

At @poorva1209's request, here is my output of `docker ps -a` before the error:
[c

[2019-11-08 22:03] blthayer commented on #42
I've reverted the changes, and am just going to close this issue for now. If we want to use some of my workarounds later, we can.

[2019-11-08 22:03] #42 closed

[2019-11-08 22:37] Jeffrey-Simpson commented on #49
I don't know about REST error.

But does the tap pos change?

The outage event should like this if you are sending it from the Simulation run configuration:
Outage_event = {
    "allOutputOutage": False,
    "allInputOutage": False,
    "inputOutageList": [{"objectMRID": ""_CE091BBD-77FD-4E8D-8815-EEF79D540108", "attribute": " TapChanger.step"},
                        ],
    "outputOutageList": [

[2019-11-12 17:28] shpoudel opened #50 "CPLEX tested and not working"
@tonya1: I checked with the wsu-restoration container that you created for the WSU application. I tested and found the CPLEX is still not working as desired.

[2019-11-12 17:47] tonya1 commented on #50
@shpoudel Could you provide some examples I could use to verify that cplex is working?

[2019-11-12 17:49] shpoudel commented on #50
@tonya1: Inside the container you have created, there is a file named **check.py** which calls CPLEX while it is executing python check.py. If it runs, then cplex is working.

[2019-11-14 19:25] poorva1209 commented on #47
@therahuljha Try starting your application once the simulation has started running.

[2019-11-14 19:25] poorva1209 commented on #40
@shpoudel Is it working now for you ?

[2019-11-14 19:30] shpoudel commented on #40
This is working as of now for v2019.10.0. I was not able to make this work with develop tag.

[2019-11-14 19:31] poorva1209 commented on #40
So you are getting timeout error even when starting the application once the simulation has started ?

[2019-11-14 19:32] shpoudel commented on #40
Yes, I was getting that even when starting the application once the simulation has started. So, I moved to v2019.10.0 from develop and it solves as desired now.

[2019-11-14 19:35] therahuljha commented on #47
Yes, I tried that. It is working fine with version 2019.10.0

[2019-11-14 19:35] poorva1209 commented on #40
ok, once you are done making changes and testing. we can setup a call and test together on develop.

[2019-11-14 19:37] poorva1209 commented on #47
ok. thanks. Closing this issue.

[2019-11-14 19:37] #47 closed

[2019-11-14 19:37] shpoudel commented on #40
Sure. Sounds good!

[2019-11-14 19:38] poorva1209 commented on #40
I am closing this issue. Once you do the test with develop after updating the app. And if it is still not working then let's make another issue with develop tag.

[2019-11-14 19:38] #40 closed

[2019-11-14 19:40] poorva1209 commented on #48
@Jeffrey-Simpson @blthayer @temcdrm @shpoudel What is the status of this issue?

[2019-11-14 19:42] shpoudel commented on #48
I created a pull request to modify the residential PV to be connected at 240V instead of 120V. But, I am not sure if this will resolve the issue.

[2019-11-14 20:05] blthayer commented on #48
@poorva1209 - we need to assign it to someone so it can get fixed :) And that someone is not me - I've sunk way too much time into this project and am playing catch-up on my school work.

So in addition to @shpoudel's modification, we need to see what might be causing those inverters to inject more power than their rating. There could be all sorts of possible causes here.

[2019-11-14 22:55] shpoudel opened #51 "Error while running EnergyConsumer query"
@poorva: Could you please look into the following error message and point any probable cause? I was running a query for EnergyConsumer in 9500 nodel model (v2019.10.0) and got the following error in terminal.

{'error': {'message': 'org.apache.jena.query.QueryParseException: Lexical error at line 4, column 125.  Encountered: "\\n" (10), after : "\\""\n\tat org.apache.jena.sparql.lang.ParserSPARQL1

[2019-11-14 22:56] poorva1209 commented on #51
Seems like query is not written correctly. What query are you running ?

[2019-11-14 23:02] shpoudel commented on #51
Never mind. I figured it out. It was running well on "http://localhost:8889/bigdata/#query" but throwing error while running from my application terminal.

[2019-11-14 23:02] #51 closed

[2019-11-18 17:40] blthayer opened #52 "Proven error when trying to query sensor service data"
@poorva1209 @ericstephan @craig8

Platform version: `develop` (pulled morning of 2019-11-18)

### To reproduce:
1. Run a simulation with the following configuration:
[code]
2. Get the simulation ID associated with the simulation. In my example, it'll be `264008561`.
3. Query Proven for sensor simulator output. Send the following (adapting for your simulation ID) to the topic `'/queue/goss.gridapps

[2019-11-18 17:51] blthayer commented on #52
@poorva1209 @ericstephan
Update: If I split my one large query into 4 queries, it seems to work. So I'll remove the app-critical tag as I have a work-around.

[2019-11-18 17:57] blthayer commented on #52
Update 2: Splitting the query in half (rather than quarters) also seems to work. Though I am still getting the logging error.

[2019-11-18 19:21] AAndersn opened #53 "Unbalanced rooftop PV"
This is a model error that Tom caught last week. The rooftop PV as generated by WSU had different capacities on the 120V .1 and .2 phases of each customer. While not a severe problem, it is unrealistic.

I have corrected the original DSS files, which need to be reimported into Blazegraph.

[Corrected PV.zip](https://github.com/GRIDAPPSD/gridappsd-forum/files/3860284/Corrected.PV.zip)

[2019-11-18 19:23] AAndersn commented on #49
I will try testing the event with the develop and 10.0 branch and see if the error is reproducible. When Jeff and I ran the event together during a Zoom meeting, we did not encounter this error.

[2019-11-18 19:25] shpoudel commented on #53
@AAndersn @poorva1209:

I already fixed this issue, created the pull request and it's merged already. I think Alexander missed the conversation in gridappsd-forum (#48) where I talked about the modification I made. However, I followed different definition than yours and you can see it here:
https://github.com/GRIDAPPSD/Powergrid-Models/tree/develop/blazegraph/test/dss/WSU.

Please let me know if y

[2019-11-18 20:03] #8 closed

[2019-11-18 20:11] poorva1209 opened #54 "Proven should response back with proper error message"
Instead of 500 internal server error.

[2019-11-18 20:12] ericstephan commented on #52
@blthayer I was wondering if there was a threshold in influx for query string size.    I will investigate breaking large queries into multiple queries and then returning one composite result back.

[2019-11-18 20:13] #53 closed

[2019-11-18 20:18] poorva1209 commented on #33
@ArunWSU @Jeffrey-Simpson Is this issue still open?

[2019-11-18 20:23] ArunWSU commented on #33
Hi.
We were able to see the time series variations in the new release. So, I'm closing this issue.
Thanks and regards,
Arun.

[2019-11-18 20:23] #33 closed

[2019-11-18 23:33] blthayer commented on #52
@ericstephan
Thanks!

This isn't a huge priority for me - I need to do the breaking up on my side anyways in order to avoid excessive memory consumption. I just figured I'd let you all know what happens when you try to query everything at once.

[2019-11-19 18:17] poorva1209 commented on #48
@shpoudel @Jeffrey-Simpson develop tag is updated with latest blazegraph changes. Please test it and let us know if this issue is still present. Please clear your browser cache before testing.

[2019-11-19 19:53] shpoudel commented on #48
@poorva1209 : Unfortunatrly, I am not able to work on develop tag with the time out error appearing while I run queries. I switched to develop tag to try one more time and got following error in terminal. Do you have any idea what this error means?

![image](https://user-images.githubusercontent.com/35777492/69180943-0f4fa600-0ac3-11ea-8f74-3536146879db.png)

[2019-11-19 20:10] poorva1209 commented on #48
@shpoudel Let's set up a call and debug your develop container.  What time would work for you for tomorrow ?

[2019-11-19 20:15] shpoudel commented on #48
@poorva1209: Anytime after 1:00 PM works for me.

[2019-11-19 20:45] AAndersn opened #55 "fncs_goss_bridge error when running switch events"
@poorva1209, Starting this morning, I am encountering a fncs_goss_bridge error when trying to run the scripts for the first fault event on the develop branch. This is a new error that did not occur before. The test manager JSON script is unchanged.

[code]

[code]

![Screenshot from 2019-11-19 12-40-47](https://user-images.githubusercontent.com/19935503/69184638-162de700-0aca-11ea-9239-0bcfb2acddb

[2019-11-19 20:47] poorva1209 commented on #55
Can you check that you are using equipment mrids and not measurement mrids in the fault scripts? I have seen this error before with that cause.

[2019-11-19 20:51] AAndersn commented on #55
Yes, I am using equipment MRIDs. I am trying to see if the the equipment MRIDs were incorrectly updated when starting the platform. When I query blazegraph, I still get the same MRIDs as in the test script.

[2019-11-19 20:53] poorva1209 commented on #55
ok. Yeah try again with updated develop. If this still happens then send me the link for script I can debug it.

[2019-11-19 23:26] AAndersn commented on #55
I have traced the problem down to the PV Farm. It appears that during the last update of the model, something with PV units broke.

I verified that I had the latest release by deleting all docker containers and downloading new ones using

[code]

I have attached the test JSON script. Simulation time is 2013-07-14 08:00:00 The equipment MRID is still the same in Blazegraph. [Event 1 Switch 3.zip](h

[2019-11-19 23:27] AAndersn commented on #55
FYI, the first two events using the same MRIDs as last week execute successfully.
[Event 1 Switch 1+2.zip](https://github.com/GRIDAPPSD/gridappsd-forum/files/3866544/Event.1.Switch.1%2B2.zip)

[2019-11-19 23:29] poorva1209 commented on #55
I am not sure what should be done here to resolve this. Do we need to update the DSS files for PV changes or re- create the measurements for PV units. Adding @shpoudel @Jeffrey-Simpson to the conversation.

[2019-11-19 23:33] temcdrm commented on #55
The OpenDSS files were updated to have balanced PV systems. Therefore, their mRIDs will have changed and their measurements need to be recreated.

[2019-11-19 23:34] poorva1209 commented on #55
@tonya1 Please read Tom's previous comment and confirm that you have created all the needed measurements for latest power grid models.

[2019-11-19 23:42] AAndersn commented on #55
@temcdrm I have verified all the MRIDs through Blazegraph on the http://localhost:8889/bigdata/#query

[code]

[2019-11-19 23:54] shpoudel commented on #55
The balanced PVs were created for smaller units (i.e., those within the house level). The error is about the switch with the PV farm at 12.47 kV level. So, I don't think the balanced PVs mrids which gt changed because of updated OpenDSS file will affect the switch mrid for PV farm. Or, it does?

I received this kind of error a couple of times before while changing the tag and not updating the mrid

[2019-11-20 00:12] shpoudel commented on #55
@AAndersn: I checked with the following file and it worked for me. The simulation start time is : 2013-07-22 05:00:00 and fault is simulated one minute after the start time. One difference with your event file and mine is the way you define occuredDateTime and StopDateTime.

![image](https://user-images.githubusercontent.com/35777492/69197784-5059b180-0ae7-11ea-9911-779e0ea2be83.png)

[Event_1_fau

[2019-11-20 00:43] AAndersn commented on #55
@shpoudel , Please use the JSON file I provided in my post on this issue. The original file from Jeff uses a different date and only one switch. After we added the swing-PQ nodes, it is necessary to  trip the CHP and PV farm in the event script order to simulate the scenario correctly.

[2019-11-20 00:46] AAndersn commented on #55
@shpoudel, To help clear any confusion, I have broken the three switch events into three separate JSON files (which are inlcuded above). The first two execute with no problems (opening the recloser and CHP gen breaker). The third (opening the PV farm breaker) results in the fncs_goss_bridge error.

[2019-11-20 02:00] shpoudel commented on #55
@AAndersn: The PV switch MRID is not consistent in forward and reverse difference in your  third event file. I corrected it and it is working as desired now.

[2019-11-20 02:17] AAndersn commented on #55
@shpoudel : Thanks for catching the stray character in the MRID. After staring at them for too long, they all start to look the same.

[2019-11-20 02:17] #55 closed

[2019-11-21 18:11] shpoudel commented on #48
@blthayer @poorva1209 @temcdrm: I went through this again this morning and would like to point a few things:

1. I ran the queries for inverters with develop tag. It seems to me the blazegraph has not been updated and the inverter's rating I got is still the same based on the old PV definition.
2. I noticed why the solars were producing more power than it's rated capacity and this lead inverters t

[2019-11-21 18:13] poorva1209 commented on #48
@shpoudel Did you execute ./stop.sh -c before pulling new develop containers?

[2019-11-21 18:21] shpoudel commented on #48
Yes, I did.

[2019-11-21 18:23] poorva1209 commented on #48
@tonya1 Can you work with @shpoudel today to figure out the issue of why he is not seeing updated values in the model in develop tag.

[2019-11-21 18:30] shpoudel commented on #48
Let me give you more details on what I did before you actually start looking into it.
1. My container is running the latest develop tag.
2. I ran the following query for inverters:

PREFIX r: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX c: <http://iec.ch/TC57/CIM100#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
SELECT ?inverter_mrid ?inverter_name ?inverter_mode ?inverter_max_q ?invert

[2019-11-21 21:27] tonya1 commented on #50
@shpoudel I am running into some trouble getting the correct python version for our older version of CPLEX.

Which version of CPLEX are you running?  and which versions of python does it support?  Maybe something like
   ls -l /opt/ibm/ILOG/CPLEX_Studio1261/cplex/python/

[2019-11-21 21:48] shpoudel commented on #50
@tonya1 : Following is the version of CPLEX and python in my windows machine.

![image](https://user-images.githubusercontent.com/35777492/69378689-bec37e80-0c63-11ea-985d-3f8390f08ee6.png)

Please let me know if you need any more detailed information as you get from (ls -l in linux).

[2019-11-21 21:51] shpoudel commented on #50
In the folder you mentioned: It has 2.7, 3.5, and 3.6 in windows. But no idea how python 3.7 is working on it.

[2019-11-22 02:16] tonya1 commented on #50
cc: @Jon8080

@shpoudel
I have built a WSU container with python 3.4 ( the python version supported in the EIOC version of cplex)  I was able to run the cplex setup.py within the container but I am still not able to successfully run the check.py script.

[code]

Thanks for providing your version information.  We have version 12.6.1.0 in the EIOC, will this still work with your code?

Now that I se

[2019-11-22 05:47] shpoudel commented on #50
@tonya1: I updated check.py to simple problem than before and also modified few lines to handle the optimization model. Now, the error is different from what you got before and it looks like:

raise PulpSolverError("PuLP: cannot execute "+self.path)
pulp.solvers.PulpSolverError: PuLP: cannot execute cplex

While there are different reasons for this error, this also comes up when CPLEX is not insta

[2019-11-22 17:08] tonya1 commented on #50
cc: @Jon8080

@shpoudel, I am able to run cplex within the container using the cplex command.  I don't see the updates to the check.py in the repository.  I have been using the master branch, should I be using a different branch?

[code]

[2019-11-22 17:56] shpoudel commented on #50
@tonya1: I think I know what's happening. Will you be able to hold a meeting for half an hour anytime today? We are in a different container, I guess, and that's why I am not seeing CPLEX. I believe we can fix this together.

[2019-11-25 21:04] shpoudel opened #56 "An error in gridappsd-docker terminal"
@poorva1209: I am getting the following error so frequently while starting the gridappsd container (after doing ./run.sh -t develop).

![image](https://user-images.githubusercontent.com/35777492/69577728-fa7c8200-0f9c-11ea-81cf-cb1ee0e35bf0.png)

Also tagging @blthayer and @Jeffrey-Simpson if you have also experienced such error.

[2019-11-25 21:06] shpoudel commented on #56
FYI: The error comes up once I start the platform and it starts printing message in **simulation status** console

[2019-11-26 17:52] blthayer commented on #56
I'm not personally seeing this error on develop.

[2019-11-26 18:39] blthayer opened #57 "Sensor service not aggregating measurements in develop"
Platform tag: `develop` (as of 2019-11-26 ~9a.m. Pacific time)

Run a simulation with the following configuration:

[code]

Capture the simulation ID of the given simulation. After it's complete and all data has been placed in the timeseries database, send the following query on the `/queue/goss.gridappsd.process.request.data.timeseries` topic (don't forget to adapt `simulation_id`):

[code]

Now,

[2019-11-27 20:53] blthayer opened #58 "Mismatch MRIDs between pre-loaded data and blazegraph"
@craig8 will edit this issue or add a comment with directions for loading up the data into influx.

@poorva1209 @ericstephan

Platform version: `develop` (as of 2019-11-27)

Topic: `goss.gridappsd.process.request.data.timeseries`

Query:
`{  "queryMeasurement": "simulation",  "queryFilter": {    "simulation_id": "1945523778"},  "responseFormat": "JSON"}`

Return:
[code]
Expected return: actual dat

[2019-12-02 21:24] craig8 commented on #58
More updates on this

I queried the influx db using the following to retrieve known start/end times in the ingested data

[code]

Resulting in the following
[code]

From the platform as @blthayer said I get the error posted above.
[code]

In the influxdb  log I see the query

[code]

[2019-12-03 19:23] Jon8080 opened #59 "Update Alarm UI"
Alarm UI should be updated to replace MRID with timestamp for the alarm initiation.

[2019-12-03 21:40] ericstephan commented on #58
I did some tests in the query you provided.  I waited 23 minutes for the results to return before aborting the query.

I did some additional tests using the count function below. I ran this query 3 times, the first time it ran 2.5 minutes and the 2nd and 3rd time it took about a minute.

Below you see count_angle and count_magnitude yielding 476 million records and the count_value yielding over 6

[2019-12-03 22:41] poorva1209 commented on #58
@ericstephan Try adding a startTime and endTime to the query. The first problem is the 500 error - are you able to reproduce it? Once that is resolved then we can look into timing.

[2019-12-04 21:57] ericstephan commented on #58
Can you run this query?  I am testing it against Craig's database with no
problems.

{"queryType": "time-series", "queryMeasurement":
"simulation","queryFilter": {"simulation_id":
"1945523778","startTime":1563865202000000000,
"endTime":1563865202000000000},"responseFormat": "JSON"}

On Tue, Dec 3, 2019 at 2:41 PM poorva1209 <notifications@github.com> wrote:

[2019-12-04 22:54] ericstephan commented on #58
When I attempted query from above, I realized that the time numbers are
quoted, which I thought was against the convention we were using to
represent numbers.  Remove the quotes around the startTime and endTime
values and the query should work.

Incorrect:

{"queryMeasurement":"simulation",
"queryFilter":{"simulation_id": "1945523778","startTime":"1563865202",
                        "endTime":"15

[2019-12-05 20:14] AAndersn commented on #48
@temcdrm @poorva1209  @tonya1 Please provide an update if Shiva's DSS file changes have been imported into Blazegraph. When he last checked, the PV file definitions were still the same (unbalanced).

[2019-12-05 22:58] tonya1 commented on #48
@shpoudel I am able to use your query with blazegraph.  I get back results but I am not sure how to interpret them to verify the data is correct.  What should I look for?

[2019-12-05 23:43] shpoudel commented on #48
@tonya1: You should get **inverter_rated_u** as 208 and phases as s1 s2 for each PV from the query result.

Also, another check would be: See the full query list and search for "pv_3_s1" or "pv_1_s1". You should not find any words like that in the result.

[2019-12-07 02:08] shpoudel opened #60 "Warning while dispatching DERs"
@temcdrm @afisher1 @poorva1209: I am getting following warning when trying to dispatch ESS.

{
    "source": "",
    "processId": "Simulator-638334331",
    "timestamp": 1575683686313,
    "logMessage": "WARNING  [2013-07-14 15:09:59 UTC] : DC maximum power output is less than the real power output from the inverter. A higher DC power rating is recommended. Currently the VSI power output is not li

[2019-12-07 06:21] tonya1 commented on #48
@shpoudel I generated the XML from your pull request and created an updated blazegraph container.  Can you test the gridappsd/blazegraph:balanced container?

[2019-12-07 06:44] AAndersn commented on #48
Tonya, thanks for updating the containers. I'll now be able to create the
final JSON events files with stable MRIDs for the eval demo.

Has this been added to the ~develop release?

On Fri, Dec 6, 2019, 10:21 PM tonya1 <notifications@github.com> wrote:

[2019-12-07 07:59] shpoudel commented on #48
@tonya1 Thanks for updating the blazegraph container. I ran the query with newer image (gridappsd/blazegraph:balanced) and PVs are balanced now.

However, I can see 4 measurement mrid with a single PV. I guess there should be 2 for each PV if defined from s1 and s2 (Similar to balanced Load). Let me check what different values those 4 ids contain in the simulation output. I will try to verify by t

[2019-12-10 19:20] ArunWSU opened #61 "GridAPPS-D develop branch non-critical simulation startup bugs"
Dear Ms. Poorva,
 I'm just reporting the non-critical bugs that I sent in email last Thursday.  Currently, I'm working on the _develop_ branch of the gridappsd-docker. These bugs are ever more frequent recently for my instance, as I start or re-run the simulation. For most of the instances presented below, stopping and restarting containers is the fix I'm adopting. The bugs are
1. FNCS initializat

[2019-12-10 19:25] blthayer commented on #48
@shpoudel - I'll try to find time to look into this next week (the week of 12/16), but I may not have time. Are we still getting overloads?

[2019-12-10 19:40] shpoudel commented on #48
@blthayer: I didn't see any overloads after the blazegraph was updated with balanced PV. But, I would like this to be verified by you once you have time for this.

 The log output you presented while opening this ticket should be fixed with balanced PV.

https://github.com/GRIDAPPSD/gridappsd-forum/issues/48#issuecomment-557206765

Does this comment make sense to you and during unbalance? I believ

[2019-12-10 21:10] AAndersn commented on #48
@shpoudel Is the blazegraph:balanced part of the -develop container?

[2019-12-10 21:42] shpoudel commented on #48
@AAndersn: I don't know if it is part of -develop. But, if you are looking for updated blazegraph to update MRIDs and create JSON files, you have to change the image in docker-compose.yml.

image: gridappsd/blazegraph${GRIDAPPSD_TAG} to
image: gridappsd/blazegraph:balanced

@tonya1: Is this correct explanation to Alexander question?

[2019-12-10 22:47] AAndersn opened #62 "fncs fatal error when starting simulation"
Today, we have ran into a new error on both the EIOC pyvvo and my local machine. When starting a simulation, the fncs bridge runs into a fatal error:

![fncs fatal error](https://user-images.githubusercontent.com/19935503/70575588-a60c0180-1b5b-11ea-8184-4c33df6af7cc.png)

On some simulation runs the simulation log stops there. On others, the simulation continues running, but no data is passed to

[2019-12-10 23:17] poorva1209 commented on #62
@craig8 I see you merged changes in fncs goss bridge - Can that do this ?

[2019-12-11 21:34] AAndersn commented on #62
Update: Today the error is not present on new simulation runs. However, if the simulation is stopped using the square stop button and then restarted, the fncs goss brdige still encounters the fatal error:

![image](https://user-images.githubusercontent.com/19935503/70662349-e67e8480-1c1a-11ea-8829-b05e7e4ff736.png)

Log message:

[code]

[2019-12-12 21:17] poorva1209 commented on #57
@blthayer: As per @craig8  this should be working now. Can we close this issue?

[2019-12-12 21:20] poorva1209 commented on #58
Reworded the issue as this is not related to Proven. This should be resolved once @craig8  updated the preloaded data.

[2019-12-12 21:24] poorva1209 commented on #59
@Jon8080 Just confirming - do we still need this change in UI ?

[2019-12-12 21:31] Jon8080 commented on #59
Yes.

[2019-12-12 22:23] AAndersn opened #63 "Enhancement: Rescaling of voltage stripcharts"
@poorva1209 This would be really nice to have in the final Monday release, but not critical for the eval.

Currently, the stripcharts scale from zero to the value, which is sometimes very hard to read for voltage values since the acceptable range is 0.95 to 1.05 pu. It would be easier to read the values if the y-axis was scaled to +-- 10% of the nominal value.

Example: voltage plot is 7138V, so t

[2019-12-12 22:24] poorva1209 commented on #63
@nhuyvan Is this doable by Monday ?

[2019-12-12 22:27] nhuyvan commented on #63
@poorva1209 This is an easy change

[2020-01-06 20:07] #57 closed

[2020-01-06 20:07] #58 closed

[2020-01-06 21:10] tonya1 commented on #50
We were able to get this to work using the following dockerfile.

# Use the base application container to allow the application to be controlled
# from the gridappsd container.
FROM gridappsd/app-container-base:3.4

# Add the TIMESTAMP variable to capture the build information from
# the travis docker build command and add them to the image.
ARG TIMESTAMP
RUN echo $TIMESTAMP > /dockerbuildversion.

[2020-01-06 21:10] #50 closed

[2020-02-27 22:03] therahuljha opened #64 "Voltage violation in 9500 node system"
@poorva1209  I am observing total voltage violations = 191 whenever I start the platform. This can be seen in the picture attached below.
![voltagevoilation1](https://user-images.githubusercontent.com/54757484/75490473-20813c00-5969-11ea-852c-22fa9bf06c00.PNG)

Further,  by setting the same control setting obtained from the platform in OpenDSS (offline), there are no voltage violations.

[2020-03-09 19:26] poorva1209 commented on #48
@shpoudel @blthayer @AAndersn Is this issue still relevant?

[2020-03-09 19:28] poorva1209 commented on #32
This is a random thrown by FNCS co-Simulator, not by GridAPPS-D platform. This would be irrelevant once we move to HELICS in March/April release. Closing this issue.

[2020-03-09 19:28] #32 closed

[2020-03-09 19:29] poorva1209 commented on #36
@afisher1 @Jeffrey-Simpson is this still relevant?

[2020-03-10 15:37] blthayer commented on #48
@poorva1209 I suspect it is, but haven't tested since the fall and won't have time to for a while. Maybe @shpoudel or @AAndersn might have time to test it.

[2020-03-18 14:59] ericstephan commented on #54
@poorva1209 - I went through the code changes yesterday and will document a list of changes I am making along with the tests that need to be performed to make sure the response messages are adequate.  I also changed the timestamp to be a bit more robust allowing either quoted long or a long variable type.

[2020-03-19 01:44] ericstephan commented on #54
@poorva1209 - The following responses have been changed

**Writing Simulation Data**

- If a message type cannot be provided: ERROR MESSAGE "Invalid or missing message content type.  Simulation data format irregular or not detected as input, output, or alarm."

**Writing Simulation Output Data**

    If simulation timestamp is invalid ERROR MESSAGE
       "Invalid or missing message content type.

[2020-03-26 16:18] ericstephan commented on #54
@poorva1209 I finished updating messages for writing simulation input and output data.  I am currently working on query messages.  One of the problems with Influx is many times a lack of error response if a query fails.  To help address this I am creating a new debug function that the application developers can use to have Proven return the Influx Query statement it constructed.  This may only hel

[2020-03-26 19:37] ericstephan commented on #54
@poorva1209 @tonya1 I am ready to have the new release proven-cluster tested.  I am setting the new release version momentarily.  @telsethag @bibiraju

[2020-03-26 19:42] ericstephan commented on #54
@poorva1209 @tonya1 @bibiraju @telsethag It is tagged as v1.3.6

[2020-04-02 19:25] shpoudel commented on #48
@poorva1209 @tonya1: Yes, this has been fixed once Tonya made the PV balanced with a new blazegraph image. I ran the simulation with a newer image (gridappsd/blazegraph:balanced) and PVs are balanced now. Also, I see the PV generation is within the limit.

So, it seems this issue is fixed to me. However, I would like it to be verified by @blthayer or @Jeffrey-Simpson as you guys are actively worki

[2020-04-02 19:28] poorva1209 commented on #48
@shpoudel Thanks for the quick update. Can you also check it with gridappsd/blazegraph:develop to make sure those changes are merged in that image too.

[2020-04-02 19:31] shpoudel commented on #48
Sure @poorva1209, I will get back to you soon.

[2020-04-02 19:34] Jeffrey-Simpson opened #65 "PV and inverter on secondary clarification."
PV and inverter on secondary clarification.
When setting the p and q of inverters that are on the secondary side in the platform it looks like the values set are spread equally across both s1 and s2 instead of individually.  Is this the expected behavior?

For the following command  the object  "_EEE9E485-740A-4002-A18A-02EE8CC38236" q attribute should be : 0.0 and object  "_187D386A-8A3F-47DE-953

[2020-04-02 19:46] shpoudel commented on #48
@poorva1209: While running the query, it seems like those changes are not merged into gridappsd/blazegraph:develop

[2020-04-02 19:58] temcdrm commented on #65
Yes, this is expected. Those residential inverters are generally 240-volt so we split the generation equally between s1 and s2.

[2020-04-02 20:01] Jeffrey-Simpson commented on #65
Okay thanks Tom. I will talk to Fei about how to handle this best.

[2020-04-02 20:35] AAndersn commented on #48
Shiva,

We did not merge those changes into the develop tag prior to the EIOC
evaluation so as not to change the MRIDs of the model.

Now is a good time to check the impact of doing a final model update.

Thanks,

Alexander
*----*
*Alexander Anderson, PhD*

Chair, IEEE Smart Village Partner Engagement
IEEE GHTC 2019 Industry Program Chair
[image: Inline image 1]
Join us in our mission to empower 5

[2020-04-02 21:07] temcdrm commented on #48
Which branch of Powergrid-Models was this done on?

[2020-04-02 21:16] shpoudel commented on #48
@AAndersn: Yes, that change was not included for MRID to keep consistent.

@temcdrm: This belongs to develop tag:

https://github.com/GRIDAPPSD/Powergrid-Models/tree/develop/blazegraph/test/dss/WSU

[2020-04-02 23:29] blthayer commented on #48
@shpoudel - unfortunately I will not be able to verify this for some time, as I'm not actively working for PNNL right now (I'll be back in mid June). I can make exceptions for urgent matters, but this doesn't seem to fall into that category :)

[2020-04-04 07:22] shpoudel opened #66 "Not getting the develop tag recent functionalities"
@poorva1209: I am not getting the following two new functionalities in the develop tag as you mentioned:

1. The switch **open** and **close** status are still showing as 0/1 in the alarm instead of Open and Close.
2. The outage section is not changing the color to red as we saw in the EIOC system.

I did ./stop.sh -c, git pull, and ./run.sh -t develop. Please let me know if I am missing something

[2020-04-06 19:59] poorva1209 commented on #66
@shpoudel Can you try running
`docker-compose pull`

[2020-04-06 22:29] shpoudel commented on #66
Thank Poorva. It worked. I will send an email soon with the event file and detail explanation for the viz team to look into the small issue we had last time.

[2020-04-07 00:55] #66 closed

[2020-04-17 19:30] shpoudel opened #67 "Browser slowing down with new develop branch"
@poorva1209 @bibiraju

I am having an issue of **slowing down of the browser** and see that the simulation status in the viz seems to be lagged significantly. With this, the application performance and the corresponding simulation in the platform are not synchronized well.  I have attached an image in this post as well.

P.S: I have checked the real-time button in the simulation configuration.

Pl

[2020-04-27 22:53] nhuyvan commented on #67
@bibiraju You should test my commit for this issue inside your VM instead of running the simulation on your Mac for a more accurate result

[2020-04-30 20:50] poorva1209 commented on #67
@shpoudel Shiva can you test the latest viz develop tag to see if your browser still shows you slowed down message. If so, we will re-open this issue.

[2020-04-30 20:53] shpoudel commented on #67
@poorva1209 I was actually checking this while you were commenting on this issue here. And yes, I am still seeing the browser is slowing down with the same message.

[2020-04-30 21:07] shpoudel commented on #67
@poorva1209 Just to make sure about pulling the latest develop tag. I did the following steps recently.
./stop.sh -c
docker-compose pull (Error shown below for this)
./run.sh -t develop

I am getting following errors while doing **docker-compose** pull command:

WARNING: The GRIDAPPSD_TAG variable is not set. Defaulting to a blank string.
Pulling redis (redis:3.2.11-alpine)...
ERROR: Get https://r

[2020-04-30 21:10] poorva1209 commented on #67
@tonya1 I thought this was just something with my VM but Shiva is also getting this error above. Can you try stop.sh -c and then run.sh -t develop. For me the containers and specially the MySQL container is not removing at all.

[2020-04-30 21:17] shpoudel commented on #67
I did /stop.sh -c and ./run.sh -t develop but the issue for browser is still there.

Based on my experience, when pulling a latest tag, I usually get several pulling commands in the terminal if it is actually pulling the latest changes. But, now it just connects to the gridappsd container soon after doing run.sh -t develop. So, the latest develop tag is not pulled and browser issue still remains t

[2020-05-04 22:37] tonya1 commented on #67
@shpoudel I have tried to reproduce this on my vm without success.  Would you wan to have a Teams meeting and share your screen?

[2020-05-05 17:15] poorva1209 commented on #67
I tried to reproduce this error with latest develop tag and couldn't. I know I was getting this last week. @shpoudel What time would work for you for a quick a call today?

[2020-05-05 17:43] shpoudel commented on #67
@poorva1209 @tonya1 What about this afternoon? Anytime after 1:00 PM.

[2020-05-05 17:49] poorva1209 commented on #67
@tonya1 Can you setup something with Shiva to debug this as I won't be working after 1pm?

[2020-05-06 22:21] tonya1 commented on #67
@poorva1209 @shpoudel I was able to replicate the browser slowdown when I changed my VM to 8GB of memory with 4CPU using Firefox to run the 9500 model for 1200 seconds.  Firefox stopped at 5 seconds with a prompt to wait.

I was able to run chrome without the error but I encountered a lot of errors trying to start the platform with the limited resources.  I had to kill and start the ./run-gridapps

[2020-05-07 13:12] poorva1209 commented on #67
Thanks @tonya1. Based on this I am moving the issue from review to in-progress. @nhuyvan @bibiraju keep on looking for issues that can slow down the browser. I also have some ideas, I will talk to you guys about it in work meeting.

[2020-05-11 23:09] blthayer opened #68 "Only one measurement object's output stored in database after simulation"
When running a simulation with the 9500 node model, it would seem measurements from a single measurement object are being stored in the output.

Platform version: `v2020.04.0`

Steps to reproduce:
1. Run a simulation with the following configuration (9500 node for 20 seconds):
[code]
2. Capture the simulation ID for use in the next step. I subscribed to simulation output for two measurement MRIDs,

[2020-05-12 13:18] poorva1209 commented on #68
@ericstephan Looks like influx is storing simulation output for only one measurement mrid.  Please have a look at this today. Check the gridappsd-sensor-simulator too.

[2020-05-12 15:27] blthayer opened #69 "Documentation: historic time in Pacific time with no indication"
To avoid confusions with our team that spans multiple time zones, we simply **must** always specify a timezone when dates/times are given. Furthermore, it's best practice to **always** use UTC.

The [historical data documentation](https://gridappsd.readthedocs.io/en/latest/using_gridappsd/index.html#query-historical-sensor-service-data) gives unqualified times. It turns out they're in Pacific time

[2020-05-12 16:08] blthayer opened #70 "Influxdb/GOSS bombs out for modest query"
Platform version: `v2020.04.0`
Influxdb version: `historical`

Summary: Asking for all historical data for only 1 minute causes an error.

To reproduce:
1. In the `docker-compose` file, modify the `influxdb` tag to be `historical`
2. Start platform as normal: `./run.sh -t v2020.04.0`
3. Send the following query on the `goss.gridappsd.process.request.data.timeseries` queue
[code]
Result: The query

[2020-05-12 16:24] blthayer commented on #70
Note that after this error the platform must be restarted for future queries to work. Not fun.

[2020-05-12 16:31] blthayer commented on #70
Important note: when I try to query for the whole "week" for only four measurement MRIDs (necessary to get data for a single customer meter), I encounter the same error. As such, I'm bumping this to app-critical. Here's the query:
[code]
Note the above query does seem to work when edited to pull for only a single MRID.

[2020-05-12 16:56] poorva1209 commented on #70
I tested by running a simulation for 2 minutes and then queried the sensor simulator data for 1 minutes and then 2 minutes. I got the data back both the times. Now. I will try with historical influxdb container.

[2020-05-13 21:13] poorva1209 commented on #68
I tested both simulation and sensor service output in influx, it has multiple measuremen_mrids now. closing this issue.

[2020-05-13 21:13] #68 closed

[2020-06-09 17:53] poorva1209 commented on #48
@Jeffrey-Simpson We have updated the develop to use the balanced PV version of blazegraph models.  Can you please check that and see If inverters are not exceeding rated power.

[2020-06-11 16:00] Jeffrey-Simpson commented on #48
I put a check in the DER-Dispatch to check for PV power greater the ratings. None produce more than they are rated. So we can close this.

[2020-06-11 16:15] poorva1209 commented on #48
Thanks @Jeffrey-Simpson. I am closing this.

[2020-06-11 16:15] #48 closed

[2020-06-23 18:55] poorva1209 commented on #49
**Note - Please use blazegraph:v2020.03.0 tag to test this**

@afisher1 @Jeffrey-Simpson I tested Event2.json with 9500 model and TapChanger.step value is not changing as expected.

Steps to reproduce:
1.	Configure 9500 simulation on Viz
2.	Set start time as 2013-07-14 08:09:00
3.	Set duration as 3600
4.	Upload Event2.json in Test Configuration (It contains one ScheduledCommentEvent and one CommOu

[2020-06-23 19:43] Jeffrey-Simpson commented on #49
Hello,
Okay where is the repo with Event2.json you are using located?
Thanks,
-Jeff

From: poorva1209 <notifications@github.com>
Reply-To: GRIDAPPSD/gridappsd-forum <reply@reply.github.com>
Date: Tuesday, June 23, 2020 at 12:55 PM
To: GRIDAPPSD/gridappsd-forum <gridappsd-forum@noreply.github.com>
Cc: "Simpson, Jeff" <Jeff.Simpson@nrel.gov>, Mention <mention@noreply.github.com>
Subject: Re: [GRIDAP

[2020-06-23 19:47] poorva1209 commented on #49
@Jeffrey-Simpson @afisher1 I just sent Event2.json over email to you both as GitHub was not allowing me to attach it here.

[2020-06-23 22:09] AAndersn commented on #49
@Jeffrey-Simpson Check if you are using the right model - we just pushed a model update with new MRIDs less than two weeks ago. I have not created new event files with the updated MRIDs

[2020-06-23 22:18] poorva1209 commented on #49
@Jeffrey-Simpson @AAndersn That's why I added this note in my testing steps:  **Note - Please use blazegraph:v2020.03.0 tag to test this**

[2020-06-23 23:11] Jeffrey-Simpson commented on #49
Hello,

First I believe I know what is wrong. The CommOutage is taking place at the same time as the reverse command is sent so it will block the change to back to the original tap setting.

Second I have not been able to test through the viz yet since it looks like some of the CommOutage  information is lost by the time it gets to ProcessEvent.
Namely the ‘event_type’ seems to get lost for the Co

[2020-06-23 23:16] poorva1209 commented on #49
@Jeffrey-Simpson

For first  - We never reach a point of checking the value change back to original because it never gets updated in the first place. It always remains 5. Are you seeing it changed to 10 at 8:10:00 time?
For second - Bibi and Nhuy are working on resolving the error right now.

[2020-06-23 23:57] Jeffrey-Simpson commented on #49
Hello,
Okay.  If I test with just the Scheduled event it works fine.  The tap goes to 10 and then back to 5. I don’t know if attachments work in the github issues so I will cc you also.
Thanks,
-Jeff

From: poorva1209 <notifications@github.com>
Reply-To: GRIDAPPSD/gridappsd-forum <reply@reply.github.com>
Date: Tuesday, June 23, 2020 at 5:16 PM
To: GRIDAPPSD/gridappsd-forum <gridappsd-forum@noreply

[2020-06-26 17:48] Jeffrey-Simpson commented on #49
Hello,
I tested to day with the latest develop tag and the viz. It works fine.

If it is still not working for you then I think it might be something with the time in the event file not being handle the same as the simulation start time in the viz.
Try moving the start time back an hour and see if it works. If this the case we should probably fix it to be handle the same.

Thanks,
-Jeff

From: poo

[2020-07-14 21:37] poorva1209 commented on #59
We added the timestamp to the alarm service output and UI. Closing this issue.

[2020-07-14 21:37] #59 closed

[2020-07-30 18:25] therahuljha opened #71 "Issue with 123PV"
@poorva1209 For the IEEE123pv system, I am trying to send the Q control to the PV system. The Q value for the PVs are very high value,  for example - PVsystem.DG_72 has Q= 279 kVAr   .
However I am not observing any changes in the system, like change in  voltage or power flow.

This is the message which I am passing
 self._pv_qpower.add_difference(qpv_mrid['mrid'], "PowerElectronicsConnection.q",

[2020-08-24 18:04] Jeffrey-Simpson opened #72 "Common new developer issues and training needs"
I am creating this as a place to note training needs for developers. This should be filled out and added to ReadTheDocs

### Training needs for platform

These questions are typically coming from people who are used to talking to directly to powerflow simulator from python or matlab so the publish/subscribe is a new world to them.
The lack of

Debug app in container.
How the register app work and

[2020-08-25 23:00] shpoudel commented on #72
I agree with Jeff. Few more to add on:

1. What are different Ids associated with a component and which one to use to control a specific component?
2. More details and sample queries for several components would be useful for those with limited knowledge of SPARQL (me).
3. Sample code on how different APIs work.

[2020-08-26 01:28] AAndersn commented on #64
The GridLab-D simulation uses a different load ZIP file than the OpenDSS model. Also, the output of PV resources is based on the weather file. Running the simulation on different days of the year and different times of day will result in varying number of voltage violations, which will again be different from those in OpenDSS.

[2020-08-26 01:35] AAndersn commented on #30
Jeff,

Could you please see if what we have in ReadTheDocs covers your question?

https://gridappsd.readthedocs.io/en/latest/developer_resources/index.html#cim-documentation

 If not, what specific info do we need to add / clarify so that the documentation is useful to app developers?

Thanks!

[2020-08-27 20:32] AAndersn opened #73 "Clean up 9500 node powergrid-models files"
In Blazegraph/Test/DSS/WSU folder, need to

* move deprecated files to archive
* validate master dss files
* write readme.md file

Final files need to be exported to CIMHUB and converted to XML and GLM

[2020-09-01 18:04] #73 closed

[2020-09-03 21:15] cmmooari opened #74 "Getting Y matrix in real-time reflecting the topology changes"
Dear Gridapps-D developers,

Is it possible to get a "dynamic" Y matrix at every simulation interval during the simulation process, to reflect the changes on system topology (due to transformer tap changes and switch operations)?

Thank you very much!

[2020-09-03 21:19] poorva1209 commented on #74
@areiman Can you provide an answer to this issue? Feel free to assign to Tom and Andy if needed.

[2020-09-08 17:49] AAndersn opened #75 "Update evaluation event files with latest MRIDs"
Need to update evaluation files for app testing using latest stable MRIDs

[2020-09-14 21:20] AAndersn commented on #62
Latest develop tag no longer has this problem. Simulations can be stopped, paused, restarted with no errors.

Is this due to switch to HELICS or was this bug fixed?

[2020-09-14 21:24] poorva1209 commented on #62
This was due to some changes in the GridLAB-D latest release. This has been resolved. You can close this issue.

[2020-09-14 23:44] #62 closed

[2020-09-22 23:50] AAndersn opened #76 "Loads with zero power / outaged when starting simulation"
When starting a new simulation, random sets of lines and customer loads appear red (outaged?) in viz. This bug appears inconsistently between simulations and goes away after 30 - 45 seconds of simulation time. I have not noticed any correlations with any services or apps running.

![image](https://user-images.githubusercontent.com/19935503/93947382-667c6380-fcf0-11ea-8b24-6084da14c21b.png)

This m

[2020-09-23 21:16] poorva1209 commented on #76
@bibiraju Can you check what @AAndersn is experiencing here with simulation display on viz.
If the values seem correct for displaying lines as red then Talk to @afisher1 to see if this a bug or should be like this.

[2020-09-24 18:40] cmmooari opened #77 "Controllability of single-phase PV"
Dear Gridapps-D developers,

It is noticed PV systems are grouped by bus in the message returned from the query function, although those PV systems are defined as single-phase devices in the dss file. Such that, the output powers of PVs connected to the same bus yet different phases are forced to be balanced, and we loss the flexibility to control the PV injection on different phase separately.

J

[2020-09-24 19:22] afisher1 commented on #77
The only way to do this currently would be to split up the PV system into three separate PVs in the model (one per phase). Then you would have the ability to control the power output of the PVs by phase.

[2020-09-25 03:01] nhuyvan commented on #76
Please see the red line segment right next to the transformer in the following picture, that line is highlighted red because its magnitude is 0, so it's marked as having no power, any magnitude value between -0.3 and 0.3 is marked as having no power, I'm also including the measurement data that was used for this line segment for your reference, that highlighted line segment has name **tpx337636c0*

[2020-09-25 16:28] bibiraju commented on #76
@afisher1 Please see comments from Nhuy above. Viz is showing red lines as the value is 0. Let us know if something need to be changed in Viz.

[2020-09-25 19:09] AAndersn commented on #76
@bibiraju  @nhuyvan , I believe that everything in the viz is correct. The red line also corresponds to stripchart showing a value of 0 for the power plot.

@afisher1 I think it is a problem with GridLab-D not setting up the loads right during the first several timesteps. After a minute, the simulation sets the loads to the correct value.

In the third image I posted before, the stripchart shows t

[2020-09-25 19:13] poorva1209 commented on #76
@AAndersn @afisher1 Does this mean I have to wait for this to be resolved in GridLAB-D before I can generate historical data? Or this does not affect the data needed by VVO?

[2020-09-25 19:18] AAndersn commented on #76
@poorva1209 Let's go ahead and generate the mini data set and see if this causes a problem. My hope is that it won't be an issue because the bug only lasts for 1 minute, and we are doing a 15 minute average

[2020-09-29 15:33] shpoudel commented on #76
Unfortunately, I observed this issue for a longer period. I ran the simulation for 200 seconds and the power was zero for the entire simulation time with the triplex lines going red.

![image](https://user-images.githubusercontent.com/35777492/94580046-4e479f80-022e-11eb-8af8-16c69c4202ae.png)

[2020-09-29 18:19] #67 closed

[2020-09-30 23:27] shpoudel opened #78 "Default plots in visualization"
It seems like Voltage (min, max, and average) and Load Demand plots are added into visualization by default when the platform starts. However, the plot for the voltage looks a little off to me. The min and max values are somewhere between 0.75 p.u. to 0.59 p.u. I don't think the feeder voltage lies in between this range. Also, this range is not consistent with the total voltage violations count.

[2020-10-01 00:12] nhuyvan commented on #78
We asked Tom how to calculate min/average/max voltages , and this is basically what Tom said to do to find those 3 quantities: Get the percentage of nominal voltage for each ConnectivityNode by taking the average of Alo and Blo in the limits.json file, then divide each simulation output measurement's magnitude for measurement type of "PNV" by this average, then find the min/average/max voltages af

[2020-10-01 00:25] shpoudel commented on #78
I am not sure about Alo and Blo in the limits.json file. The Y-axis in the plot is a p.u., correct? Can you show me how the limits.json file looks like? Maybe Tom showed the easy way to calculate it and I might have understood it incorrectly.

[2020-10-01 00:38] shpoudel commented on #78
Never mind, I found the limit.json file. It is an average of alo and ahi that you should take not the average of Alo and Blo. Also, for some nodes, the sqrt(3) term might play a role. If the nominal voltage for the node is 208, the corresponding measurements for such a node are around 120. So, you should divide 208 by sqrt(3) before calculating the percentage of nominal voltage. @temcdrm , please

[2020-10-01 22:10] Jeffrey-Simpson opened #79 "No measurement/zero voltages for some spilt phase nodes"
I am getting zero voltages for these nodes X2748140A.2 , X3728040A.2, and X3160861C.2 in the 9500 model.
The reason for this is there is no corresponding measurement for any piece of equipment that is at that node so I set it zero.
I would expect there would be a line segment for S2 at these nodes but there is not. Is that assumption correct?  Should I be doing something else to get the node volta

[2020-10-06 16:10] shpoudel opened #80 "Query Historical Sensor Service Data"
@poorva1209 @craig8 : I was trying to use the sensor service data made available through gridappsd/influxdb:historical. It pulls 29.99 GB of an image (./run.sh) and while extracting it throws an error saying **no space left**. I see my system has a total of around 51GB space available. Any thoughts on this? Do the ~30GB data have all the simulation output saved for a week?

Also, I have a question

[2020-10-08 17:05] bibiraju commented on #78
@temcdrm We are taking the average of Alo and Blo. Is this correct? Please see comments from Shiva. We will work on fixing the sqrt(3) term as suggested above.

[2020-10-08 20:17] AAndersn opened #81 "PowerGrid Model API throws error with CSV, XML output"
Getting an `'error': 'Invalid json returned'` message from the PowerGrid Model API when requesting a response with a resultFormat other than JSON.

Passing a request with a JSON output format works correctly:

[code]

This returns

[code]

If I change result format to CSV or XML, I get

[code]
This returns an error and then the requested data:
[code]

Same thing with XML:

[code]

[code]

[2020-10-13 17:53] temcdrm commented on #78
Yes, you should take the average of Alo and Ahi.

[2020-10-14 21:33] shpoudel commented on #80
@poorva1209 @craig8

I am following up on the same issue here. I pulled the updated image (gridappsd/influxdb:historical_1day). I used the following request with some filters. I am attaching a part of the response as well (first three dictionaries). I am expecting this: For one time step, there should be two measurements as I have two different mrids in the filter. But, we don't see such a pattern

[2020-10-15 03:53] poorva1209 commented on #80
Sensor service introduces missing data to inject realism so that could be one reason. But let me check influxdb directly for these mrids and timestamps and I will get back to you.

[2020-10-17 16:37] therahuljha opened #82 "Voltage plot in display not working"
@poorva1209
I am observing that the new voltage plot is unable to reach the steady-state when there is a change in voltage control devices status. It gets stuck after the change as observed in the attached figure.

![Capture](https://user-images.githubusercontent.com/54757484/96348061-ddd8b500-105a-11eb-8e5d-c3717b6819e2.PNG)

[2020-10-17 18:08] poorva1209 commented on #82
@bibiraju @nhuyvan Can you check if values are correct for these plots? If so, we can talk to Tom or Andy to check values.

[2020-10-19 22:25] nhuyvan commented on #82
How do I change the voltage control device statuses? And what should I expect?

[2020-10-26 20:48] AAndersn commented on #79
@Jeffrey-Simpson Please review if https://github.com/GRIDAPPSD/Powergrid-Models/pull/83 fixes the issue.

[2020-10-27 17:33] shpoudel opened #83 "Wrong 'value' in alarm tab for capacitors"
For a capacitor, it is observed that when a close command is given, the alarm tab shows value as open. The logic for switch and capacitor is just the opposite which might be the cause for incorrect display in alarm.

[2020-11-03 19:08] #78 closed

[2020-11-06 22:09] shpoudel commented on #82
This hasn't been resolved so I am moving this to In Progress.
@nhuyvan  The values are correct. But, when the value gets changed, it doesn't settle to a new value. For example, open or close a switch, then you will see the effect when you plot its status.

[2020-11-10 18:50] AAndersn opened #84 "Timeseries Influx DB not recording simulation input from Test Manager"
When running a simulation, the Influx DB is only recording simulation input for switching actions if they come from the Viz or another application.

If the switch event comes from the simulation config file or uploaded through the Test Manager, nothing is recorded.

Running the following Timeseries API query to get the simulation input commands:
[code]

Currently using the test_config setup from h

[2020-11-13 19:56] tonya1 commented on #79
@Jeffrey-Simpson Can you test this container?  gridappsd/blazegraph:s2

[2020-11-16 17:24] Jeffrey-Simpson commented on #79
I test with the develop branch late Thursday and I had measurements for the s2 phases that were missing before and my app did not report any zero (or missing)  measurements which is good so I think the issue can be close.

If I try with that blazegraph:s2 container I get this issue though as an FYI:

Creating gridappsd-docker_proven_1     ... done

Creating gridappsd-docker_influxdb_1   ... done

[2020-11-17 19:05] #79 closed

[2020-11-24 17:26] poorva1209 commented on #80
@shpoudel Is this issue resolved in new historical data since we are not using randomization anymore.

[2020-11-24 17:37] shpoudel commented on #80
This can be closed. However, I have another related issue opened on the board.

https://github.com/GRIDAPPSD/GOSS-GridAPPS-D/issues/1390

[2020-11-24 17:42] #80 closed

[2020-11-25 20:49] #63 closed

[2020-11-25 21:53] nhuyvan commented on #82
@shpoudel I made a recording of a simulation against ieee123 https://drive.google.com/file/d/1q0fZgjcfqguMxuKm0Zp0jzmgc_alqNnA/view?usp=sharing (Hopefully, you are able to view it). I saw that when I opened/closed switch "sw4", the plots were changing, so I wasn't sure if this was correct or not, I am confused by what you said "But, when the value gets changed, it doesn't settle to a new value", c

[2020-11-25 22:28] shpoudel commented on #82
In the video, if you look closely, the plots are not settled after your second open command. It is expected in the demo you have that the voltage plot should be back with three parallel lines after you again close that switch. Does this make sense?

[2020-12-01 17:55] poorva1209 commented on #70
I queried historical data from influxdb for 1 nad 2 minutes and this query is working now. Closing this issue.

[2020-12-01 17:55] #70 closed

[2020-12-07 16:58] #36 closed

[2020-12-10 17:19] areiman commented on #74
The "dynamic" Y matrix cannot be obtained directly at this time.

However, measurements of switch and regulator positions are included in the simulation output and - along with the locations of these devices - can be used to dynamically update the Y matrix at each simulation time step.

A dynamic Ybus service is being considered for future implementation.

[2020-12-11 21:39] AAndersn commented on #82
Plot behavior now correct. Closing issue.

![image](https://user-images.githubusercontent.com/19935503/101957401-325d6400-3bb6-11eb-9715-f6786ffde487.png)

[2020-12-11 21:39] #82 closed

[2021-01-04 21:05] poorva1209 commented on #83
I changed alarm service to read capacitor Open - 0 and Open -1.
We need to change this in Viz also.
Will make a pull request for @shpoudel to test when both alarm and Viz changes are complete.

[2021-01-04 23:24] bibiraju commented on #83
@poorva1209 I have created a PR to change the value that Viz sends for Open and Close of capacitors. Viz now sends 0 for Open and 1 for Close. But I noticed that the value in Alarm tab is populated as received by the message from Platform. See below. So this message may need to be modified as well for the correct values.

[{"equipment_mrid": "_3DE55D2D-34D3-487E-9D6E-3A4DB1E38E47", "value": "Close

[2021-01-05 17:46] #83 closed

[2021-01-16 00:51] Lakes-lead opened #85 "Installation on Windows"
Hello is there a guide on how to install GridAppsD in windows ?

Thank you

[2021-01-18 21:18] AAndersn commented on #85
Hello,

For application development, we recommend using the windows subsystem for linux. Complete instructions are available at

https://github.com/GRIDAPPSD/gridappsd-hackathon/blob/main/Lesson%201.0.%20Installation%20Instructions.pdf

If you don't plan on using the API training notebooks, you can skip steps 1.4 through 1.7.

Also, be sure to reach out for an invitation to the monthly app develop

[2021-01-25 23:52] MaximeBaudette opened #86 "Query CIM model from Python"
I'm trying to fetch models from GridApps D and would like the pull the full CIM XML to use further.
I tried the following:
[code]
And got the following:

[code]

[2021-01-28 19:01] AAndersn opened #87 "Additional CIM attributes for 9500 node model"
Verify whether CIM XML export of 9500 node model contains all attributes from original DSS version (e.g. reversible regulators, DER setpoints)

[2021-02-04 01:14] AAndersn opened #88 "phase imbalance of 9500 node PV farm"

[2021-02-04 01:16] AAndersn opened #89 "Phase Imbalance of 9500 Node PV farm"
Significant difference in phase power output of PV farm in 9500 node model.

Phase A: 140 kW
Phase B: 7 kW
Phase C: 7 kW

Possibly phase A not following PV curve correctly, while phases B and C are.

![image.png](https://images.zenhubusercontent.com/5d51de4956d3534821f8f9ce/4a22f17d-6bb7-4355-8800-fb1a6cf96c0e)

[2021-02-04 01:16] #88 closed

[2021-02-04 01:17] AAndersn commented on #88
Duplicate issue caused by ZenHub glitch

[2021-02-05 20:19] tehn007 opened #92 "Problem with gridappsd installation"
after installation by instruction (https://gridappsd.readthedocs.io/en/master/installing_gridappsd/index.html) on the ubuntu server 20.04 (address in the our test network 192.168.1.89), we cannot log in to http ://192.168.1.89: 8080
the login and password page (system manager) is displayed.
![image](https://user-images.githubusercontent.com/78353920/107084421-b4a58580-67ff-11eb-889a-b980d5b8ea86.p

[2021-02-05 20:29] poorva1209 commented on #92
After installation, have you started the platform too as stated here: https://gridappsd.readthedocs.io/en/master/using_gridappsd/index.html#start-gridapps-d-platform

[2021-02-05 20:30] poorva1209 commented on #92
@tonya1 They may need help with changing the IP address in Viz. Can you provide those instructions here?

[2021-02-05 20:33] poorva1209 opened #93 "Document changing ip address in Viz on readthedocs"
Some external users are accessing Viz with remote IP address instead of localhost. If I remember correctly this needs a config file change in Viz container. Document the steps to change the config file on readthedocs so we can send that link to users.

[2021-02-05 20:42] tehn007 commented on #92
Yes, of course

[2021-02-05 20:54] tonya1 commented on #92
To run gridappsd on a remote system and connect with your desktop browser you will need to provide the public ip address to the viz container.  Create a viz.config file and mount it inside the viz container using the docker-compose.yml file.

On the system running gridappsd:

In the gridappsd-docker directory create a viz.config file with the following content.   Substitute the systems public ip a

[2021-02-05 21:07] poorva1209 commented on #86
@MaximeBaudette The gridappsd-python library is incorrectly tagging the response as an error because it is expecting the response to always be a valid JSON object.
The CIM XML you are expecting is inside 'message' under 'data' key. You can use that.
Meanwhile, I will make a pull request to untag this as an error and return valid XML.

[2021-02-06 20:01] tehn007 commented on #92
Thank you very much for your help!
Everything works now!

[2021-02-08 17:25] poorva1209 commented on #92
@tehn007 Thanks for the confirmation. I will close this issue now.

[2021-02-08 17:25] #92 closed

[2021-02-10 19:41] MaximeBaudette commented on #86
@poorva1209
Thanks!
I have one more questions. The CIM data I extracted from the "data" section seems to be missing a bunch of "resources" as most IDs do not point to anything within the file.

[2021-02-10 19:47] poorva1209 commented on #86
Let me check that and I will get back to you.

[2021-02-10 21:49] MaximeBaudette commented on #86
@poorva1209 for info, I'm looking at the IEEE13 model

[2021-02-11 00:47] Lakes-lead commented on #85
Hello Alexander,

Thank you for response.

Does the OpenDSS simulator now works with the GridAppsD platform or just the Gridlabsd for now .

Thank you

Best regards,

[2021-02-11 01:59] AAndersn commented on #85
Only GridLab-D currently. OpenDSS simulation will be added in a future release.

By the way, check out the new discussion board we created a few days ago. It is the perfect place to ask these type of questions and anything you need help / support / advice on.

https://github.com/GRIDAPPSD/gridappsd-forum/discussions

[2021-02-11 17:40] poorva1209 commented on #86
@MaximeBaudette  Can you paste a resource number here that you are not finding in the file.

[2021-02-11 19:09] MaximeBaudette commented on #86
@poorva1209 there's basically none of the resources in the file.
_17E0320F-9A09-4C78-8511-7DFF5F56E330 is one example

[2021-02-12 17:56] poorva1209 commented on #84
@ericstephan Proven/Influxdb is not storing simulation input if the 'value' is a float. It works when the value is an integer. We need to change Proven side to make sure simulation input is stored for float values too. Sample simulation input is here: https://gridappsd.readthedocs.io/en/latest/using_gridappsd/index.html#send-input-to-simulation. Change the value to 1.0 and 0.0 to test this.

Let m

[2021-02-15 20:49] poorva1209 commented on #86
@tdtalbot  Here is the issue regarding query model API not returning all the objects.

[2021-03-11 19:06] poorva1209 commented on #86
@MaximeBaudette The API has been updated to not label XML response as an error. So with the latest develop tag, you should get a valid XML as the response. We are still working on making sure all the resources are present in the QUERY_MODEL response.

[2021-03-11 19:09] #49 closed

[2021-03-11 20:39] #87 closed

[2021-03-11 20:45] #85 closed

[2021-03-24 18:12] MaximeBaudette commented on #86
I updated to 2021.02.0 release and can easily fetch the xml model (and write it locally).
Thanks for the update!

[2021-03-24 18:13] MaximeBaudette commented on #81
This has been fixed for the XML version

[2021-03-24 18:19] MaximeBaudette commented on #86
@poorva1209 Any idea as to why I'm not getting all the resources in the CIM file ? Should I update my request, or request additional model and merge them ?

[2021-03-24 18:23] poorva1209 commented on #86
@MaximeBaudette We are working on making sure all the resources are included in the CIM file. Currently, this issue is in progress and we will update the status here as soon as it is merged in the develop branch. You don't need to update the request. Adding @tdtalbot.

[2021-03-24 18:27] MaximeBaudette commented on #86
Ok great, thanks! Will await update.
In the meantime, is there anyway you could email me a full CIM file ? or do you have the issue to generate such file also in the background (not only in the API call)?
I'm trying to get things going reading CIM files and I'm struggling to find any fully working CIM file for IEEE13 on the net.

[2021-03-24 18:35] poorva1209 commented on #86
Please try this API call mentioned here: https://gridappsd.readthedocs.io/en/latest/using_gridappsd/index.html#request-cim-dictionary-file with the model mrid for IEEE 13 node model.

Request topic: goss.gridappsd.process.request.config
Request: {
  "configurationType":"CIM Dictionary",
  "parameters":{"model_id":"model_mrid"}
 }
Response: CIM Dictionary with the full model

Let me know if this wo

[2021-03-29 22:24] Lakes-lead opened #104 "Running the PyVVO application"
Hello,

I am trying to run the PyVVO application, the application logs out after a response comes up on my terminal stating that the inverter log level change to ERROR to reduce the output '

Attached is the image

Hoping i can get some guidance  on this.
![WhatsApp Image 2021-03-29 at 6 16 32 PM](https://user-images.githubusercontent.com/26089614/112907535-065de400-90bc-11eb-9050-4adecc782ef2.jpe

[2021-03-30 02:53] shpoudel commented on #104
Hello,

I am assuming your left terminal is the gridappsd-docker terminal and the right one is the application terminal. Are you getting errors in those terminals at the same time? For testing the application, you can proceed without updating the switch also (Please comment line 306 ( _update_switch_state_in_glm(glm_mgr, switches)) in app.py. This shouldn't affect the application for testing it.

[2021-03-30 11:32] Lakes-lead commented on #104
The left is the application terminal also where it was initialized and started, The right was just to view what is happening in the container during the simulation, i.e the simulation status. Both errors occurred at the same time.

[2021-03-30 16:24] Jeffrey-Simpson opened #105 "Zero values for nodes 193-51796.2 and 193-48013.3"
For nodes 193-51796.2 and 193-48013.3 I get zero measurements and very low values in the y-matrix at end up giving me divide by zero errors.

zero_nodes =  [236, 327]
The ymatrix value at these locations is (1e-12+4.14729584e-10j)

From my log:
2021-03-25 17:57:15 - main_app_new;INFO|Zero voltage value for 193-51796.2 mid _2154513b-8eb4-4458-ae4c-6bc41bfb14bc at meas id {'angle': 0.0, 'magnitude':

[2021-03-30 18:20] AAndersn commented on #105
@shpoudel , these are the two phase-to-phase underground switches

The original DSS files specify:
[code]

The VA measurement should be zero because it is an open switch, not sure why the voltage measurements are zero

[2021-03-30 18:33] temcdrm commented on #105
In OpenDSS, the switches are internal to each component. I believe you could have non-zero voltages at one (or even two) terminals, with zero (or near-zero) flow through them.

[2021-03-30 21:09] MaximeBaudette commented on #86
Hi Poorva,
I tried this query, but I couldn't figure out a way to get a CIM XML file in response. It seems to only return a JSON.

[2021-04-01 00:51] AAndersn commented on #105
The situation here is that one side of the switch is A-phase cable and the other side is a C-phase cable. The switch is used to re-assign customers on one cable to the opposite phase by cutting / opening the upstream phase conductor and then closing the switch.

Currently the model files specify the switch as not actually connecting the phases of the two cables (as inherited from the EPRI 8500 nod

[2021-04-01 01:29] AAndersn commented on #105
@Jeffrey-Simpson Another idea is that you can just close the switches in the Config File API message before you start your simulation:

[code]

[2021-04-01 03:43] shpoudel commented on #105
I don't remember exactly. But, the original version of this feeder had these switches as closed. The restoration app used to open these switches due to radiality constraints.

@AAndersn: I liked the idea of changing model_state as a temporary solution to this.

[2021-04-01 18:10] #84 closed

[2021-04-04 17:35] Lakes-lead opened #106 "Simulation Output"
Hello,

After running a simulations on the Gridappsd platform, apart from the GUI interface results/output is their another way to extract the results like to a csv or other file output for analysis.

Thank you

[2021-04-05 19:40] poorva1209 commented on #105
Applications have to handle zero voltage.

[2021-04-05 23:45] AAndersn commented on #105
@temcdrm , I have fixed this in the DSS and CIM XML versions of the model. However, the GLM files exported by CIMHub still have the issue of the floating node:

DSS definition:
[code]

CIM XML Definition:
[code]

GLM Defintion:

[code]

Because the GLM file isn't showing this, there still exists a floating 193-51976.B node in GridAPPS-D simulations, but not in the CIM XML. Not sure if this going t

[2021-04-08 15:21] ericstephan commented on #54
@poorva1209 - I am not seeing the 500 error you reported when running the sample app.

[2021-04-08 16:49] poorva1209 commented on #54
@ericstephan Which tag are you using for Proven? I am running develop tag for everything including Proven. I just now ran a simulation with 13 node model and sample app. Every 15th timestamp when sample app sends an input command I see 500 Internal server error.

[2021-04-29 18:36] poorva1209 commented on #86
@MaximeBaudette Updated have been made to develop tag that would return proper QUERY_MODEL response in XML with all the resources. Please check and let me know if you see any issue.

[2021-04-29 18:44] MaximeBaudette commented on #86
Excellent, I'll test this out !

[2021-04-29 23:36] MaximeBaudette commented on #86
@poorva1209
Hi Poorva,
I'm trying to switch to the develop branch of the Gridapps container, and tries to change my gridapps python to develop too, but it won't work... any idea as to why?

[2021-04-30 16:04] poorva1209 commented on #86
@MaximeBaudette Are you getting any error?

[2021-04-30 17:38] MaximeBaudette commented on #86
@poorva1209
For some reason I have a lot of failure to run `./run.sh -t develop`  to start gridapps, buit when I manage to get it up and running and I go to my python notebook and execute the command to instantiate gridAPPSD I get the following:

![Screen Shot 2021-04-30 at 10 37 21](https://user-images.githubusercontent.com/15156063/116732793-11987e00-a9a0-11eb-8da4-18507fc63a56.png)

[2021-04-30 17:43] poorva1209 commented on #86
@MaximeBaudette I have seen this error with the latest version of stomp.py. Can you do 'pip list | grep stomp' and make sure the version is 6.0.0. If not install that version and try again.

[2021-04-30 17:53] MaximeBaudette commented on #86
Thanks a lot ! now I can run the python API.

[2021-06-28 21:47] #105 closed

[2021-07-13 01:31] AAndersn commented on #93
https://gridappsd-training.readthedocs.io/en/develop/installation/1.7--Lesson-1.7--Cloud-Server-Configuration.html

[2021-07-13 21:27] MaximeBaudette commented on #86
@poorva1209
I have a question about the model I retrieve through the API call.
CIM models I found on one of your repositories have connectivitynodes for each ACLineSegment, from which I can extract the terminal and build a network graph.
For some reason, when I apply the same script to build network graphs from the models extracted from Gridapps through the API call I don't get any connectivity no

[2021-07-15 19:22] MaximeBaudette commented on #86
I worked on the following query
[code]

[2021-07-16 22:47] AAndersn commented on #86
@MaximeBaudette , Please try this query message:

[code]

Thanks,

Alexander

[2021-07-19 21:19] MaximeBaudette commented on #86
Hi Alexander

I’m interested in the full CIM XML file rather than just a list of devices.

Best regards,

On Fri, Jul 16, 2021 at 15:47 Alexander Anderson ***@***.***>
wrote:

[2021-07-19 22:52] AAndersn commented on #86
@MaximeBaudette ,

I don't think the GridAPPS-D API has a call to return the entire XML model. You could clone it directly from GitHub (https://github.com/GRIDAPPSD/Powergrid-Models/tree/develop/platform/cimxml) or you can query for the entire model as a python dictionary:

[code]

@poorva1209  @craig8  Is there a query to return the original CIM XML that I am not aware of?

[2021-07-20 02:18] MaximeBaudette commented on #86
Why doesn't the power grid model API return the power grid model ?
Maxime

On Mon, Jul 19, 2021 at 3:52 PM Alexander Anderson ***@***.***>
wrote:

[2021-07-20 20:09] poorva1209 commented on #86
Hi @MaximeBaudette , I executed this query and I can see connectivity node objects in the response. Is there anything specific I should be looking for that is missing?

{
        "requestType": "QUERY_MODEL",
        "modelId": "_49AD8E07-3BF9-A4E2-CB8F-C3722F837B62",
        "resultFormat": "XML"
}

[2021-07-20 21:50] MaximeBaudette commented on #86
Hi @poorva1209
So I had a closer look at the list that @AAndersn provided on github.
Here is the model I'm referencing to
https://github.com/GRIDAPPSD/Powergrid-Models/blob/develop/platform/cimxml/IEEE13.xml

When querying the API with mRID _5B816B93-7A5F-B64C-8460-47C17D6E4B0F
I receive the file with Connectivity Nodes, but somehow they are not linked to anything, upon further investigation, the

[2021-07-20 21:52] poorva1209 commented on #86
@tdtalbot Can you check QUERY_MODEL API call and see if we missed adding Terminal objects and if so let's add them. Let me know if you have any questions.

[2021-08-10 02:17] AAndersn commented on #93
@tonya1 or @bibiraju, please review and close

https://gridappsd-training.readthedocs.io/en/develop/installation/1.7-Cloud-Server-Configuration.html

[2021-08-18 20:15] tonya1 commented on #93
@AAndersn I think we also need to add the instructions for mounting the file into the container by updating the docker-compose.yml file.

[2021-08-20 22:36] Mvr013 opened #108 "Error contracting http://localhost:8889/bigdata/ (000)"
I am trying to run the GRIDAPPS-D platform.
After Getting blazegraph status I got the following error
I got error Error contracting http://localhost:8889/bigdata/ (000)

Kindly help me to run the platform.
![error_1](https://user-images.githubusercontent.com/66704535/130299695-45e9fbdd-ec38-4c59-bc92-9618a4ccd605.JPG)
![error_2](https://user-images.githubusercontent.com/66704535/130299699-e14a84be

[2021-08-31 23:36] AAndersn commented on #108
@Mvr013 Is there possibly another service currently using port 8889?

[2021-08-31 23:41] shpoudel commented on #108
I was tagged in the issue, but for some reason, I was not notified. Sorry about that.

@Mvr013 Please re-run the same command. Usually, in the first run, there is an error in blazegraph. Let me know how it goes.

[2021-09-01 19:33] MaximeBaudette commented on #86
@poorva1209
Has this been fixed in the latest release of GridApps ?

[2021-09-01 19:49] poorva1209 commented on #86
@MaximeBaudette : Yes, Please give it a try and let us know if you see any more issues.

[2021-09-01 19:49] #86 closed

[2021-09-01 21:58] MaximeBaudette commented on #86
Thanks !

[2021-09-20 18:09] AAndersn commented on #108
@Mvr013  Please let me know if you are still having this problem. Otherwise, I will close this ticket.

[2021-09-29 16:25] AAndersn commented on #108
Closing for lack of response

[2021-09-29 16:25] #108 closed

[2021-10-13 16:12] Mvr013 opened #109 "Co-simulation Bridge Initialization Failed"
Hello,
I hope you all doing well.
After running the platform, I saw error message under status section as Co-Simulation Bridge Initialization Failed.

Initially I gor error for password and leter this error I saw in the platform.

Can any one help me to solve this issue.
![Error](https://user-images.githubusercontent.com/66704535/137172439-6c100a3a-0b62-497c-89b0-5fec3468987d.JPG)
@poorva1209

[2021-10-13 21:17] poorva1209 commented on #109
This issue was resolved by updating the gridappsd-docker and all the containers. Closing this now.

[2021-10-13 21:17] #109 closed

[2022-02-03 08:04] #54 closed

[2022-02-03 20:16] #45 closed

[2022-02-03 20:23] poorva1209 commented on #28
Not needed.

[2022-02-03 20:23] #28 closed

[2022-02-03 20:53] #13 closed

[2022-02-03 20:54] #41 closed

[2022-02-05 02:21] AAndersn commented on #81
XML works correctly.
CSV version no longer throws error, but returns an empty dict {} object

[2022-02-23 20:36] MaximeBaudette opened #110 "FRS messages in TimeSeries DB"
Issue used to track advancement in implementation and integration of FRS messages into GridApps

[2022-03-01 21:15] MaximeBaudette commented on #110
@poorva1209 Could you keep me updated of the current status on that item ?

[2022-03-09 01:06] AAndersn commented on #93
Updated to use `-r` option for remote viz

https://gridappsd-training.readthedocs.io/en/develop/installation/1.7-Cloud-Server-Configuration.html

[2022-03-22 18:36] #65 closed

[2022-03-22 18:40] #77 closed

[2022-03-22 18:56] AAndersn opened #111 "Platform crashes when passing request.status.platform query"
The GridAPPS-D platform crashes when passing any query to the `goss.gridappsd.process.request.status.platform` with a `java.lang.StackOverflowError` message with latest develop.

This happens both from STOMP client and gridappsd-python

`gapps.get_response("goss.gridappsd.process.request.status.platform", {})`

I have tried deleting all containers / images and the git repo, but the error still per

[2022-03-23 18:24] MaximeBaudette opened #112 "Restrict Access to MySQL / REDIS"
The cybersecurity team, where I work (LBNL), flagged my computer for exposing both MYSQL and REDIS databases to the internet.
Is there a flag / command to execute the database containers in "local" mode where they only listen to 127.0.0.1 and dump traffic coming from somewhere else ?

[2022-03-28 20:50] poorva1209 commented on #110
@ericstephan  is currently is working on it and should have an updated API to test this week.

[2022-03-28 21:28] MaximeBaudette commented on #112
I solved it by modifying the docker-compose by adding a more specific port binding restricting it to 127.0.0.1

[code]

[2022-03-28 21:30] tonya1 commented on #112
Thank you.

[2022-03-30 02:13] ericstephan commented on #110
Coding changes are complete and have been pushed to git.  @tonya1 @poorva1209 @craig8 I will create a tagged release tomorrow and send out the versions.

These changes include support for frs message type structures and advanced query interface.

[2022-03-30 18:07] ericstephan commented on #110
@poorva1209 @tonya1 Please use v1.4 tags for proven-cluster and proven-client repositories.  Stay tuned for documentation regarding some slight augmentations made to the messages to make them consistent so I could keep the user interface generic.

[2022-03-30 18:10] poorva1209 commented on #110
@tonya1 Make proven container with that tag and let me know. I will give it a try then.

[2022-03-30 18:21] tonya1 commented on #110
@poorva1209  Please test with docker pull gridappsd/proven:1.4.

[2022-03-30 18:35] poorva1209 opened #113 "Raise an alarm if apps are competing to control same device."

[2022-05-02 18:09] MaximeBaudette opened #117 "Load Data in GridApps?"
[code]

In the container terminal, I tried to check the data as you told me to and executed:

    select * from ieeezipload where time >= 1641024000000000000 limit 2

Which returns nothing.

[2022-05-02 18:14] poorva1209 commented on #117
`select * from ieeezipload where time >= 1641024000000000000 limit 2 `
This command syntax is correct.

This is what I did to check the minimum and maximum timestamp in my container:
for minimum timestamp: `select *  from ieeezipload order by asc limit 1;`
for maximum timestamp: `select *  from ieeezipload order by desc limit 1;`

Then I ran the command as:
`select * from ieeezipload where time >=

[2022-05-02 18:17] poorva1209 commented on #117
To make sure you have ieeezipoad and weather datatypes in the influxdb, you can execute:
`show measurements`
which should show you a list as:
[code]

[2022-05-02 18:37] MaximeBaudette commented on #117
HI Poorva, I can't find my matching timestamp.
I believe something is wrong here:
`docker exec -t $container_id influx -import -path <$path_to_load_file> -precision s`

Seems like maybe it didn't read the `-precision s` ?
I'm absolutely not an expert on bash commands, and I scrambled to figure out the docker command

[2022-05-02 18:54] poorva1209 commented on #117
The load file (loadprofile_measurement_out.txt) need to be copied inside the container before we can import it. Try this:

`docker cp loadprofile_measurement_out.txt influxdb:\`
`!docker exec -t $container_id influx -import -path loadprofile_measurement_out.txt -precision s`

[2022-05-02 20:13] MaximeBaudette commented on #117
I think that's what I attempted by using <_path-to-file_ but I guess it didn't work  like I wanted it to. Let me try that new approach

[2022-05-02 20:15] poorva1209 commented on #117
<path-to-file> should be the path of that file inside the container. Is that what you had?

[2022-05-02 20:27] MaximeBaudette commented on #117
I have never really used docker, so I wasn't familiar with the fact you needed to first get the file into the container and only then put the local path from within the container.

[code]

this is now working I was able to verify the presence of the measurements directly from your influx query example !

I'll tackle the weather data now.

[2022-05-02 21:00] poorva1209 commented on #117
@MaximeBaudette I just pushed some changes to weather data upload in upload_update branch.
https://github.com/GRIDAPPSD/gridappsd-data/tree/upload_update/timeseries/weather/solar-forecasting

Checkout upload_update branch and follow readme directions.

[2022-05-02 21:02] MaximeBaudette commented on #117
It seems that the old script I used did manage to upload the weather data, however with the wrong time offset

[2022-05-02 21:45] MaximeBaudette commented on #117
@poorva1209
I'd like to bring your attention to the fact that the weather data as provided is formatted as follows:
Timestamp (%Y-%m-%d HH:MM:SS), Date(%m/%d/%y), time(HH:MM), [rest of the data]

Your bulk_load_weather.py script is aware of that double timestamping and:
- checkhttps://docs.github.com/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-f

[2022-05-03 17:28] poorva1209 commented on #117
@MaximeBaudette Will you be able to send the files today?

[2022-05-03 17:31] MaximeBaudette commented on #117
Sent !

[2022-05-03 18:17] #110 closed

[2022-05-09 23:31] MaximeBaudette opened #118 "Units in measurements"
The simulation output gives me the following:
[code]

I was trying to get the total substation power by computing the following, assuming the angles were in degrees:
[code]

But when I look at the measurement data, it gives me mostly Q, instead of P, which I believe is wrong.
Are the angles in radians ? Am I to subtract a reference angle ?

[2022-05-10 00:19] MaximeBaudette opened #119 "Send setpoints to PV units"
Trying to send setpoints to PV units with the following code in python:
[code]
Getting the following from GridApps and then the simulation crashes:

[code]

[2022-05-10 19:55] poorva1209 commented on #118
@afisher1 @AAndersn Can you answer this?

[2022-05-10 20:10] poorva1209 commented on #119
@afisher1 Looks like helics bridge is throwing an error. Can you check whats causing this error?

[2022-05-10 20:23] shpoudel commented on #119
This is not aa HELICS error. This is an issue with incorrect object MRID.

Maxime, you're using pecid to control the PV unit. Please see the email that I sent on 04/29. Please use id, not the pecid and the message should go without an error.

The **pv_mrid** and **batt_mrid** can be obtained from the query in the email. Please use "**id**" parameters from the query response to control the PV/Batt.

[2022-05-10 20:35] shpoudel commented on #118
Here is my quick response to your question.

1. The angles by default are in degrees. So, you'll need to convert to radians for mathematical calculation.
2. P might be less than Q if there are DERs supplying the feeder loads. But, if the values still do not make sense, we can dig into it deeper.

[2022-05-10 21:14] MaximeBaudette commented on #119
Thanks Shiva,
I will try that!

On Tue, May 10, 2022 at 13:23 Shiva Poudel ***@***.***> wrote:

--
Maxime Baudette
Scientific Engineering Associate
Grid Integration Group
Lawrence Berkeley National Lab
http://gig.lbl.gov
(cell) 510.560.3667

[2022-05-10 23:51] AAndersn commented on #119
Queries are also included in https://github.com/GRIDAPPSD/gridappsd-training/issues/7

The queries for the device mRIDs should be passed using the PowerGrid Models API: https://gridappsd-training.readthedocs.io/en/latest/api_usage/3.3-Using-the-PowerGrid-Models-API.html#Query-using-a-Generic-SPARQL-Query

[2022-05-10 23:59] MaximeBaudette commented on #118
Angles in degrees, ok!
My issue is that in the model, the power measurements, as you can see in my post above, come back with an angle around -85 degrees. Power: 54.963 kW, Q -561.730 kVAr
That's an insane amount of Q compared to P.

[2022-05-11 16:47] #119 closed

[2022-05-11 16:52] shpoudel commented on #119
See this if you're interested. I specifically mentioned over my email to use the query and "id", not the "pecid". What Alexander answered is the easy way to get PV ids. At the end of the day, they are all related to powerelectronicsconnection.

[cid:4c3d276e-34ab-4b36-b46e-80eb84a12252]
________________________________
From: Maxime Baudette ***@***.***>
Sent: Wednesday, May 11, 2022 9:48 AM
To: GR

[2022-05-11 17:26] AAndersn commented on #118
@MaximeBaudette  Is this for the 13OCHRE model? You can open the switches for both caps through the viz or you can add it as a difference message to the simulation start message if you are starting the simulation from Python. That will fix the power factor and Q issue you are seeing

![image](https://user-images.githubusercontent.com/19935503/167910006-6def76ef-1fb3-41d6-a47c-f1ecd5ad6588.png)

[2022-05-11 17:34] MaximeBaudette commented on #118
@AAndersn
Oh I see... Thanks !
There is however only about 200kW of load when IEEE13 is more in the ballpark of 2-4MW... so we're missing loads

[2022-05-11 18:27] AAndersn opened #120 "Load updated IEEE13OCHRE in Blazegraph"
@tonya1, Please create a new Blazegraph container with an updated version of the IEEEOCHRE model

@vmotakat please email Tonya the new CIM XML and measurements.txt files generated by the CIMHub import script.

[2022-05-11 18:29] AAndersn commented on #120
@tonya1 When you have built the container, please share the tag with @MaximeBaudette

[2022-05-11 18:49] MaximeBaudette opened #121 "Wrong display unit for angles on Gridapps-D web GUI"
The display unit on the gridapps-D web GUI are wrong and use the quantity base unit (V, W), should display degrees instead
See screenshot
![Screen Shot 2022-05-11 at 11 47 39](https://user-images.githubusercontent.com/15156063/167923974-997dcc35-a812-484e-a0b5-461b7133d3f5.png)

[2022-05-11 18:49] MaximeBaudette commented on #118
@AAndersn
I search here but could not locate an existing issue about the display unit for the angle
created https://github.com/GRIDAPPSD/gridappsd-forum/issues/121

[2022-05-11 18:49] #118 closed

[2022-05-11 21:31] MaximeBaudette opened #122 "Not able to start ochre simulation"
I'm trying to run a ochre model, as per our discussion on the call this morning, I changed the "simulator" in my simulation configuration to "OCHRE", but it doesn't seem to work.

[code]

[2022-05-11 21:31] MaximeBaudette commented on #120
In the meantime, I seem to be having issues launching a OCHRE simulation...
Let me track that in a separate issue over here https://github.com/GRIDAPPSD/gridappsd-forum/issues/122

[2022-05-11 21:34] tonya1 commented on #120
@MaximeBaudette The test container has been shared through the collaboration site.  You should be receiving an email with instructions to download.

[2022-05-11 21:50] MaximeBaudette commented on #120
Excellent, I just started downloading it !
Thanks !

[2022-05-11 21:55] AAndersn commented on #122
@MaximeBaudette I think FAST-DERMS may be using a different OCHRE version than the default version in the GridAPPS-D platform

@vmotakat, please share with Maxime the instructions for adding latest OCHRE into the docker-compose.yml file

[2022-05-11 22:07] MaximeBaudette commented on #122
@AAndersn
I'll see with @vmotakat for a temporary fix for now.
Could you discuss that  maybe it would be pertinent to setup a dedicated FASTDERMS branch on GridApps-D so that we have the needed model / data / functionalities and services for the project.
The whole point of having a platform is to be able to pull it and run it without having to fiddle with custom installs ?

[2022-05-11 22:13] MaximeBaudette commented on #120
@tonya1
Assuming the new tag is `ieee13_ocher_der` and no longer `fastderms` ?

[2022-05-11 22:34] shpoudel commented on #121
@bibiraju To fix this, look for the **check box** in "Component type". If the user checks the angle, then display "Degrees" as Y-label in the plot.

[2022-05-11 23:20] MaximeBaudette commented on #122
@AAndersn @poorva1209
I had a chat with Venkat and we were not able to make OCHRE working on my computer, he mentioned something related to GOSS.
Could you update gridapps with the necessary components to be able to run OCHRE simulations ? and direct me to the relevant tag ?

[2022-05-11 23:37] tonya1 commented on #120
@MaximeBaudette  you are correct .

[2022-05-12 00:13] AAndersn commented on #122
@MaximeBaudette Are you running the latest version of GridAPPS-D?

The latest ~develop or any of the 2022 releases should have everything you need to run OCHRE. To make sure, do a `git pull` from your gridappsd-docker directory and then do `./run.sh -t develop` or `./run.sh -t releases_2022.04.0`

[2022-05-12 00:15] MaximeBaudette commented on #122
I have been running `./run.sh -t v2022.04.0` for a while now...

[2022-05-12 00:17] AAndersn commented on #122
@MaximeBaudette When I spoke with @tonya1 this afternoon, she said that we had been specifically told not to push the FAST-DERMS materials to the public github repository. We would need a public version of the ochre simulator, etc. The version that Venkat gave you is only on the NREL private repository and not accessible even by me.

[2022-05-12 00:18] MaximeBaudette commented on #122
So I'm really confused, do I need a custom install, or does it come standard ?

[2022-05-12 00:18] AAndersn commented on #122
Ok, you might try downgrading to releases_2022.01.0. I have done my integration testing with Venkat and the SDGE feeder and know for sure that everything worked fine for that release

[2022-05-12 00:20] AAndersn commented on #122
There is an OCHRE version that comes standard and is from last year's build.

However, Harsha, Jason, and others have made a lot of changes to their own OCHRE setup, but have not shared any of those changes with us

[2022-05-12 00:26] AAndersn commented on #74
The dynamic Y-bus service is now available in the ~develop release tag of the GridAPPS-D platform. That service publishes a new Y-bus matrix for all topology and transformer tap changes

[2022-05-12 00:28] AAndersn commented on #61
Closing stale issue. FNCS has been replaced by HELICS as the default bridge and these errors no longer appear

[2022-05-12 00:28] #61 closed

[2022-05-12 00:31] AAndersn commented on #56
Closing stale issue. These errors no longer appear in ~develop

[2022-05-12 00:31] #56 closed

[2022-05-12 00:35] AAndersn commented on #39
@garydblack Let's add this old ask into the set of App Toolbox services for discussion this month. Somebody brought it up again recently and but it was unclear if this was going to go into the platform or toolbox pipeline

[2022-05-12 01:58] AAndersn commented on #122
@MaximeBaudette, Venkat and I have been able to verify that a HELICS co-simulation bridge initialization failure error will be thrown if the "/NREL-Battery-Aggrigator/gridappsd-ochre/inputs/MS/Main_spreadsheet_FASTDERM.xlsx" spreadsheet is missing or uses a different name from that specified in the gridappsd-ochre/constants.py file.

This error goes away as soon as spreadsheet is put back into the

[2022-05-12 19:34] bibiraju commented on #121
So for angle measurements, the unit should be degrees like the picture below?

![image](https://user-images.githubusercontent.com/12516333/168154332-dfeb14c0-9d60-406f-b0e4-5ddb502ccb57.png)

[2022-05-12 22:07] bibiraju commented on #121
@shpoudel should the unit for Power magnitude be VA?

[2022-05-12 22:18] AAndersn opened #123 "MySQL & other containers do not run on Mac machines with ARM64 chips"
While debugging with @jsmacdonald on a new mac with M1 apple silicon chip, we ran into a known issue posted on the Docker docs page:

https://docs.docker.com/desktop/mac/apple-silicon/#known-issues

As a result of this issue, the GridAPPS-D platform is unable to start from the ./run.sh script. It exits with an error message that Blazegraph cannot connect to localhost.

@tonya1 Please look into exa

[2022-05-12 23:54] shpoudel commented on #121
It is VA, but let's bring this to a standup call or a working meeting if we need to change this to W or Var with some additional math.

[2022-05-16 19:49] AAndersn opened #124 "LBL FAST-DERMS Integration Testing"
Epic for tracking LBL integration issues before 05/28/22 deadline

[2022-05-16 19:51] AAndersn commented on #122
It was determined this was a hardware resource issue with insufficient RAM to run docker on new MAC devices. Related to #123

[2022-05-16 19:51] #122 closed

[2022-05-16 19:52] #120 closed

[2022-05-16 19:53] poorva1209 commented on #112
@tonya1 Is this closed now ?

[2022-05-16 20:43] tonya1 commented on #112
Closing this issue.

[2022-05-16 20:43] #112 closed

[2022-05-16 23:31] AAndersn opened #125 "LBL FastDERMS unable to parse modified 13ochre using PyCIM"
@MaximeBaudette @jsmacdonald
[code]

[2022-05-16 23:34] AAndersn opened #126 "LBL FastDERMS file path error"
@MaximeBaudette There is an issue with the file path in io13gapps.py identified by me and @jsmacdonald

Please update us when this is fixed and we can do a git pull.

[code]

[2022-05-17 16:38] MaximeBaudette commented on #125
@AAndersn
Did you install the dependencies from pipenv ?
I setup the development environment using pipenv: https://pipenv.pypa.io/en/latest/
It requires python 3.7 and I see error messages about python 3.8, could you change the kernel for python 3.7 ?

[2022-05-17 17:32] MaximeBaudette commented on #125
talked to Jason, and mentioned that since we had conda, and you deployed miniconda on the server, there's prob a bunch of base packages that were already installed on all our machines that we forgot to add to the pipenv file. He's gonna investigate today and try to fix the kernel install managed through pipenv
.

[2022-05-23 16:37] AAndersn commented on #125
PyCIM appears to be able to parse the file obtained directly from the PowerGrid Models API, so closing this issue for now. Will re-open if the issue continues.

[2022-05-23 16:37] #125 closed

[2022-05-23 16:38] AAndersn commented on #126
Resolved

[2022-05-23 16:38] #126 closed

[2022-05-23 16:59] poorva1209 opened #128 ""No username received in stomp message""
### Discussed in https://github.com/GRIDAPPSD/gridappsd-forum/discussions/127

<div type='discussions-op-text'>

<sup>Originally posted by **AAndersn** May 23, 2022</sup>
@poorva1209 @craig8

I was recently asked why there frequently warnings `No username received in stomp message` when authenticating via GridAPPSD-Python

Is this an expected behavior? If so, what is the reason this message gets p

[2022-05-26 18:07] #121 closed

[2022-05-31 19:33] AAndersn opened #129 "Show different symbol for 3-ph transformers & regulators"
Received suggestion to show a different icon for 3-ph transformers & regulators

Need to determine how to differentiate between CIM objects (3-ph will generally be PowerTransformer objects; customers will be TransformerTank objects; regulators are also TransformerTank)

[2022-06-01 23:28] AAndersn opened #130 "./run.sh -r incorrectly modifying viz.config file"
When running latest platform version, starting the GridAPPS-D Platform using `./run.sh -r -t v2022.04.0` incorrectly changes the `viz.config` file in the `gridappsd-docker/conf` directory to use the client address instead of the host server address

I have created a viz.config file manually using my server host ip address:

[code]

When starting the platform, the `viz.config` is being overwritten

[2022-06-22 20:30] poorva1209 opened #133 "Three phase battery data query using API"
### Discussed in https://github.com/GRIDAPPSD/gridappsd-forum/discussions/132

<div type='discussions-op-text'>

<sup>Originally posted by **vmotakat** June 22, 2022</sup>

PREFIX r: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX c: <http://iec.ch/TC57/CIM100#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
SELECT ?inverter_mrid ?meas_mrid ?phase
WHERE {
  VALUES ?feeder_mrid {"_8F9EA8EC-1C

[2022-06-22 20:32] poorva1209 commented on #133
@tonya1 Venkat is working with a new model and it looks like there are multiple measurements with the same id. Can you have a look?

[2022-06-22 20:49] AAndersn commented on #133
@poorva1209 - I have already worked with Venkat on the issue this morning.

I did not see any obvious reason. I think this may be a question for @temcdrm , so I asked Venkat to create a ticket.

@vmotakat - Could you please re-run with a slightly different query to print out the measurement name + type and update with another screenshot?

[code]

[2022-06-22 20:54] poorva1209 commented on #133
Thanks for the update @AAndersn. When I talked to@vmotakat we printed out the measurement type and for none phases, it was 'soc'.

[2022-06-22 21:05] vmotakat commented on #133
Thank you Poorva and Alex.

none issue sort outed with the help of Poorva that indicating SOC.

For me for every object two times indicating in the query result for this feeder only. For other feeders I am getting correct representation.

[2022-06-22 21:15] #133 closed

[2022-06-22 21:16] poorva1209 commented on #133
@AAndersn I am opening this again so we can figure out why he is getting multiple measurements with same id. @tonya1  can help with that.

[2022-06-22 21:47] AAndersn commented on #133
@poorva1209 - I have seen similar behavior with other SPARQL queries, where are multiple duplicate entries in the output. The `GROUP BY` syntax can be used to combine duplicate results. I am not sure if it has anything to do with the insert_measurements script or anything in the platform.

[2022-06-22 21:51] poorva1209 commented on #133
I thought the same and asked Venkat to do the same query with SDGE model and see if it shows duplicate outputs too. He is not getting duplicate results there so I am assuming it has to do with how the measurements are being inserted for that model.

@vmotakat Can you use 'group by' so you don't have to be blocked by this issue.

[2022-06-22 21:59] AAndersn commented on #133
@poorva1209 - Yes, @vmotakat was able to use the `GROUP BY` syntax successfully, so I had closed the issue earlier

[2022-06-22 22:00] poorva1209 commented on #133
aah! ok. Didn't know that. Closing it then.

[2022-06-23 22:35] arunveeramany opened #134 "stop all simulations"
Nice to have

Simulation(GAPPS).stop_all_simulation()

when simulation id or simulation instance is lost.

[2022-07-11 18:15] MaximeBaudette commented on #119
Still having some issues regarding building difference for my simulation.
I tried to update the mRID to the ones of the PowerElectronicsConnection, but it not working either.

I'm very confused by what you call ID vs PECID, considering that neither are fields in the CIM model...

I tried to run your query, but without success either

[code]

I get the following error back:

[code]

[2022-07-13 16:33] AAndersn commented on #119
@MaximeBaudette - This an issue with how python interprets wrapped quotes and the line break characters. Try deleting this part of the query and it should work:

`(group_concat(distinct ?phs;separator="\n") as ?phases)`

There is a special punctuation fix that I worked out some time ago. I think it was wrapping the character like `'"\\n"'`, but I need to go dig it out of my old code.

[2022-07-13 16:38] MaximeBaudette commented on #119
Thanks, I forgot to mention but Shiva helped me investigate the issue

[2022-07-20 18:20] AAndersn commented on #124
Please create a new issue. This epic is just a tag to keep track of all issues for this task so we can give them priority.

[2022-07-21 22:38] MaximeBaudette opened #135 "Custom Weather Data issue with"
Despite the ability to upload custom data into the PROVEN database, and also being able to query it afterwards, it seems like that data is not being used by the gridlab simulator for the PV panels

[2022-07-28 19:10] #93 closed

[2022-08-02 21:24] BuiMCanmet opened #136 "Applications & Services tab not working"
Hello,
I am trying accessing the Applications & Service tab in the main page of the applications but it keeps stalling. There seems to be an Exception occurring when trying to click on the application.

`Exception in thread "Thread-136" java.lang.StackOverflowError
        at com.google.gson.internal.$Gson$Types.resolve($Gson$Types.java:376)
        at com.google.gson.internal.$Gson$Types.resolve(

[2022-10-11 08:33] AAndersn commented on #122
Maxime,

When I spoke with Tonya this afternoon, she said that we had been
specifically told not to push that particular version of FAST-DERMS
materials to the public github repository. We would need a public version
of the ochre simulator, etc. The version that Venkat gave you is only on
the NREL private repository and not accessible even by me.

On Wed, May 11, 2022, 4:20 PM Maxime Baudette ***@

[2022-11-02 20:20] poorva1209 commented on #117
Closing this issue. I will create specific issues later based on discussions on how we can make custom loading of data better.

[2022-11-02 20:20] #117 closed

[2022-11-02 20:48] poorva1209 commented on #72
@AAndersn Can we put this in backlog or close if it is already done?

[2022-11-02 20:56] #124 closed

[2022-11-02 21:14] poorva1209 commented on #71
Obsolete Issue. Closing.

[2022-11-02 21:14] #71 closed

[2022-11-02 21:39] #64 closed

[2022-11-02 21:42] poorva1209 commented on #106
This is an old possible obsolete issue. closing it with this comment:

Yes, you can subscribe to the simulation output and store it in a csv file. Or query timeseries data store for simulation output and store the the response in a csv file.
Please see documentation here:

https://gridappsd.readthedocs.io/en/latest/using_gridappsd/index.html#subscribe-to-simulation-output

https://gridappsd.readth

[2022-11-02 21:42] #106 closed

[2022-11-02 21:45] poorva1209 commented on #113
closing this as it will be handled by app-deconfliction efforts.

[2022-11-02 21:45] #113 closed

[2022-11-03 18:07] #72 closed

[2022-11-03 18:16] areiman commented on #74
Closing - see dynamic Y-bus service.

[2022-11-03 18:16] #74 closed

[2022-11-17 08:18] #136 closed

[2022-11-22 19:03] AAndersn opened #145 "Export XSD of current GridAPPS-D CIM Profile"

[2022-11-22 19:17] AAndersn opened #146 "Create gridappsd branch of PowerGrid Models and CIMHub"